.launchpad-detail-view {
    padding-top: 124px;
    p {
        color: #200205;
    }
    .mobile-show-msg {
        display: none;
    }
    .detail-inner {
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
        .poster-box {
            width: 800px;
            height: 800px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 32px;
            border-radius: 16px;
            overflow: hidden;
            img {
                height: 100%;
            }
        }
        .collection-msg {
            flex: 1;
            text-align: left;
            .col-n-b {
                display: flex;
                align-items: center;
                span {
                    color: #200205;
                    font-size: 22px;
                    cursor: pointer;
                }
                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-left: 24px;
                    margin-right: 12px;
                }
                p {
                    font-size: 20px;
                    color: #666;
                }
            }
            .col-name {
                font-size: 48px;
                font-family: SparkSemiBold;
                margin-top: 16px;
                margin-bottom: 22px;
            }
            .creator-msg {
                display: flex;
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-right: 12px;
                }
                .c-by {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px 0;
                    p {
                        font-size: 16px;
                    }
                    p:last-child {
                        color: #666;
                    }
                }
            }
            .mint-box {
                margin-top: 108px;
                padding: 28px 30px;
                border-radius: 16px;
                border: 1px solid #E6E6E6;
                background-color: #FCFCFD;
                .price-total {
                    display: flex;
                    .total-public {
                        margin-right: 50px;
                        p:first-child,
                        .p-tag {
                            font-size: 20px;
                            color: #686A6C;
                        }
                        .p-tag {
                            font-size: 40px;
                            line-height: 66px;
                            color: #200205;
                            img {
                                width: 32px;
                                height: 32px;
                                margin-right: 12px;
                                vertical-align: middle;
                                display: inline-block;
                                transform: translateY(-4px);
                            }
                            .ant-spin {
                                margin-top: -12px;
                            }
                        }
                    }
                }
                .mint-oper {
                    margin-top: 8px;
                    button {
                        width: 614px;
                        height: 86px;
                        border-radius: 16px;
                        background: linear-gradient(258deg, #6A40FB 0%, #AD38B9 41%, #EC307C 80%, #F23176 100%);
                        font-size: 24px;
                        color: white;
                    }
                }
            }
            .desc-box {
                margin-top: 64px;
                padding: 24px 0;
                background-color: #FCFCFD;
                border-radius: 16px;
                border: 1px solid #E6E6E6;
                .desc-title {
                    padding: 0 30px 16px;
                    border-bottom: 1px solid #E6E6E6;
                    span {
                        font-size: 20px;
                        margin-right: 12px;
                    }
                    font-size: 18px;
                    color: #202025;
                }
                .desc-text {
                    padding-top: 32px;
                    padding-left: 30px;
                    font-size: 14px;
                    color: #202025;
                    line-height: 20px;
                }
            }
        }
    }
}
.mint-collection-modal {
    .collection-modal-inner {
        padding-top: 20px;
        .col-msg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo-items {
                display: flex;
                align-items: center;
                .logo-box {
                    width: 108px;
                    height: 108px;
                    border-radius: 8px;
                    overflow: hidden;
                    margin-right: 24px;
                    img {
                        width: 100%;
                    }
                }
                .items-msg {
                    p {
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    p:last-child {
                        margin-bottom: 0;
                    }
                    p:first-child {
                        font-family: SparkTextNew;
                    }
                }
            }
            .mint-msg {
                p {
                    font-size: 14px;
                    margin-bottom: 8px;
                    text-align: right;
                    span {
                        color: #F23176;
                    }
                }
                p:last-child {
                    margin-bottom: 0;
                    font-family: SparkSemiBold;
                }
            }
        }
        .mint-num {
            margin-top: 32px;
            height: 48px;
            width: 100%;
            border-radius: 6px;
            border: 1px solid #E6E6E6;
            box-sizing: border-box;
            padding: 0 12px;
            display: flex;
            align-items: center;
            input {
                flex: 1;
                font-size: 16px;
            }
            input::placeholder {
                color: #d1cfcf;
            }
            p {
                color: #F23176;
                cursor: pointer;
                font-size: 16px;
                margin-left: 12px;
                position: relative;
            }
            p::before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 24px;
                background-color: #E6E6E6;
                position: absolute;
                left: -12px;
                top: 0px;
            }
        }
        .submit-btn {
            margin-top: 32px;
            padding-bottom: 24px;
            button {
                width: 100%;
                height: 48px;
                border-radius: 12px;
                font-size: 16px;
                border: 0;
                background: linear-gradient(270deg, #6A40FB 0%, #F23176 100%);
            }
        }
    }
}
@media screen and (max-width:1280px) {
    .mint-collection-modal {
        .collection-modal-inner {
            .mint-num {
                height: 4rem;
                margin-top: 1.6rem;
                input {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1.4rem;
                }
            }
            .submit-btn {
                button {
                    height: 4rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
    .launchpad-detail-view {
        padding-top: 10rem;
        .mobile-show-msg {
            display: block;
            width: 90%;
            margin: 0 auto;
            .col-n-b {
                display: flex;
                align-items: center;
                span {
                    font-size: 1.6rem;
                    color: #200205;
                }
                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin: 0 1rem;
                }
                p {
                    font-size: 1.6rem;
                    color: #686A6C;
                }
            }
            .col-name {
                color: #200205;
                font-family: SparkTitleNew;
                font-weight: bold;
                font-size: 3rem;
                text-align: left;
                line-height: 7rem;
            }
            .creator-msg {
                display: flex;
                align-items: center;
                margin-bottom: 1.8rem;
                img {
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                }
                .c-by{
                    text-align: left;
                    margin-left: 1.2rem;
                    p{
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        color: #200205;
                    }
                    p:last-child{
                        color: #686A6C;
                    }
                }
            }
        }
        .detail-inner {
            width: 90%;
            padding: 0;
            flex-direction: column;
            margin: 0 auto;
            .poster-box {
                width: 100%;
                height: 33.5rem;
                border-radius: 8px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .collection-msg {
                .col-n-b {
                    display: none;
                }
                .col-name {
                    display: none;
                }
                .creator-msg {
                    display: none;
                }
                .mint-box {
                    margin-top: 2rem;
                    padding: 1.6rem;
                    border-radius: 8px;
                    .price-total {
                        .total-public {
                            margin-right: 2.4rem;
                            p:first-child,
                            .p-tag {
                                font-size: 1.4rem;
                            }
                            .p-tag {
                                font-size: 2rem;
                                line-height: 66px;
                                img {
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    margin-right: 0;
                                    transform: translateY(-2px);
                                }
                            }
                        }
                    }
                    .mint-oper {
                        button {
                            width: 100%;
                            height: 4.2rem;
                            border-radius: 8px;
                            font-size: 1.4rem;
                        }
                    }
                }
                .desc-box {
                    border-radius: 8px;
                    margin-top: 2.4rem;
                    margin-bottom: 4rem;
                    padding: 1.6rem 0;
                    .desc-title {
                        padding: 0 1.6rem .8rem;
                        font-size: 1.6rem;
                        span {
                            font-size: 1.6rem;
                        }
                    }
                    .desc-text {
                        padding: 1.6rem;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}