.hackthon-new-view {
    padding-top: 140px;
    .title-oper {
        width: calc(100% - 120px);
        margin: 0 auto;
        border-bottom: 1px solid #4E423E;
        padding-bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 48px;
            color: white;
            font-family: SparkBold;
        }
        .chain-btn {
            display: flex;
            align-items: center;
            .chain-box {
                margin-right: 24px;
                height: 46px;
                background-color: white;
                border-radius: 16px;
                display: flex;
                align-items: center;
                padding: 0 24px;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                img {
                    width: 24px;
                    height: 24px;
                }
                span {
                    font-size: 24px;
                    margin-left: 12px;
                }
            }
        }
        button {
            width: 226px;
            height: 48px;
            background: #FC6542 !important;
            border-radius: 16px;
            font-size: 18px;
            font-family: SparkBold;
            border: 0;
            box-shadow: none;
        }
    }
    .new-view-inner {
        width: calc(100% - 120px);
        margin: 0 auto;
        display: flex;
        position: relative;
        .no-more-g {
            text-align: center;
            padding-top: 120px;
            img {
                width: 80px;
                height: 80px;
            }
            p {
                font-size: 15px;
                color: #686A6C;
                margin-top: 8px;
            }
        }
        .g-big {
            padding-top: 180px;
            img {
                width: 160px;
                height: 160px;
            }
            p {
                font-size: 16px;
            }
        }
        .loading-big {
            position: absolute;
            width: 100%;
            height: 115%;
            background-color: rgba(0, 0, 0, .3);
            display: flex;
            justify-content: center;
            padding-top: 180px;
            z-index: 200;
            top: -70px;
        }
        .left-name {
            width: 300px;
            background-color: #221C1A;
            height: calc(100vh - 210px);
            overflow: auto;
            .ant-anchor {
                display: none;
            }
            .anchor-box {
                display: flex;
                margin-bottom: 36px;
                transition: .3s all;
                cursor: pointer;
                .left-msg {
                    position: relative;
                    display: flex;
                    flex: 1;
                    .active-line {
                        width: 0;
                        height: 100%;
                        transition: .3s all;
                    }
                    .meme-msg {
                        display: flex;
                        flex-direction: column;
                        margin-left: 12px;
                        padding: 12px 0 24px;
                        transition: .3s all;
                        width: 100%;
                    }
                    .symbol-name {
                        font-size: 16px;
                        color: white;
                        transition: .3s all;
                        text-align: left;
                        line-height: 20px;
                        img {
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;
                            margin-right: 12px;
                            transform: translateY(-2px);
                        }
                    }
                    .coin-list {
                        display: flex;
                        margin-top: 8px;
                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 12px;
                        }
                    }
                }
                .right-icon {
                    min-width: 50px;
                    min-height: 50px;
                    width: 50px;
                    height: 50px;
                    border-radius: 16px;
                    border: 1px solid rgba(0, 0, 0, 0);
                    background-color: #F6F6F6;
                    margin-left: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: .3s all;
                    span {
                        color: #202025;
                        font-size: 14px;
                        display: inline-block;
                        transform: rotate(180deg);
                    }
                }
            }
            .anchor-box:hover {
                .left-msg {
                    .date-msg {
                        p {
                            color: #FA43A8;
                        }
                        .progress-box {
                            .box-i {
                                background-color: #FA43A8;
                                .progress-text {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .active-anchor {
                background-color: #3E373B;
                .left-msg {
                    .active-line {
                        width: 4px;
                        background-color: #FC6542;
                    }
                    .symbol-name {
                        font-weight: bold;
                        color: #FC6542;
                    }
                    .date-msg {
                        border-color: #FFBCE3;
                        p {
                            color: #FC6542;
                        }
                    }
                }
                .right-icon {
                    border-color: #FC6542;
                    background-color: rgba(0, 0, 0, 0);
                    span {
                        color: #FC6542;
                    }
                }
            }
            .active-anchor:hover {
                .left-msg {
                    .date-msg {
                        .progress-box {
                            .box-i {
                                .progress-text {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-content {
            flex: 1;
            height: calc(100vh - 210px);
            overflow: auto;
            padding-left: 24px;
            margin-top: 12px;
            .right-list-slide {
                padding: 26px 32px;
                border: 1px solid rgba(0, 0, 0, 0);
                transition: .3s all;
                margin-bottom: 32px;
                position: relative;
                overflow: hidden;
                background-color: #221C1A;
                .share-box {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #453C3A;
                    height: 52px;
                    display: flex;
                    align-items: center;
                    padding: 0 22px 0 115px;
                    p {
                        margin-right: 48px;
                        font-size: 12px;
                        color: white;
                        span {
                            font-size: 16px;
                            font-weight: 600;
                            margin-left: 10px;
                            i {
                                font-size: 12px;
                                font-weight: 400;
                                margin-left: 10px;
                            }
                        }
                    }
                    button {
                        width: 88px;
                        background-color: #2C2523 !important;
                        color: #FC6542;
                        border-color: #FC6542;
                        box-shadow: none;
                        border-radius: 12px;
                    }
                }
                .share-box::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border: 40px solid;
                    position: absolute;
                    transform: rotate(-45deg);
                    left: -40px;
                    top: 12px;
                    border-color: transparent #221C1A transparent transparent;
                }
                .slide-title {
                    font-size: 24px;
                    color: #FC6542;
                    text-align: left;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    span {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        background-color: #FC6542;
                        border-radius: 50%;
                        margin-right: 8px;
                    }
                }
                .date-msg {
                    width: 100%;
                    padding-top: 24px;
                    p {
                        font-size: 14px;
                        text-align: left;
                        color: #FC6542;
                        transition: .3s all;
                    }
                    .progress-box {
                        width: 55%;
                        height: 16px;
                        background-color: #4B4746;
                        margin-top: 12px;
                        border-radius: 32px;
                        position: relative;
                        .p-date {
                            position: absolute;
                            font-size: 12px;
                            color: #686A6C;
                            border-radius: 32px;
                            left: 0px;
                            top: 24px;
                        }
                        .end-date {
                            left: auto;
                            right: -2px;
                        }
                        .box-i {
                            height: 100%;
                            transition: .3s all;
                            border-radius: 8px;
                            background-color: #FC6542;
                            .progress-text {
                                position: absolute;
                                left: calc(1% - 22px);
                                top: 18px;
                                padding: 2px 0;
                                width: 38px;
                                background-color: white;
                                box-shadow: 0px 2px 18px 1px rgba(0, 0, 0, 0.2);
                                font-size: 12px;
                                color: #686A6C;
                                border-radius: 4px;
                                transition: .3s all;
                                opacity: 0;
                            }
                            .progress-text:before {
                                content: '';
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 5px;
                                position: absolute;
                                top: -9px;
                                left: 38%;
                                border-color: transparent transparent white transparent;
                            }
                        }
                    }
                    .progress-box:hover {
                        .box-i {
                            .progress-text {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .active-anchor {
                border-color: #FC6542;
            }
            .part-box {
                width: 100%;
                height: 1100px;
                background-color: #ccc;
            }
            .part-box:nth-child(odd) {
                background-color: #eee;
            }
            .items-list {
                display: flex;
                flex-wrap: wrap;
                text-align: left;
                margin-top: 100px;
                .hackthon-card-new:first-child {
                    background: linear-gradient(129deg, #291304 0%, #4E1B08 56%, #845509 100%);
                    .first-icon {
                        display: block;
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        top: -75px;
                        right: -75px;
                    }
                }
                .hackthon-card-new {
                    width: 23%;
                    margin-right: 24px;
                    margin-bottom: 24px;
                    box-shadow: 0px 6px 24px 1px rgba(0, 0, 0, 0.18);
                    position: relative;
                    padding-bottom: 24px;
                    cursor: pointer;
                    padding: 24px;
                    background-color: #3B3838;
                    .first-icon {
                        display: none;
                    }
                    .nft-box {
                        width: 112px;
                        min-width: 112px;
                        height: 112px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        .load-box {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        img {
                            width: 100%;
                            transition: .3s all;
                        }
                    }
                    .name {
                        font-size: 16px;
                        font-family: SparkTitleNew;
                        color: white;
                        margin-bottom: 12px;
                    }
                    .right-msg {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-left: 12px;
                        flex: 1;
                    }
                    .owner-vote {
                        display: flex;
                        flex-direction: column;
                        p {
                            line-height: 24px;
                            font-size: 12px;
                            color: white;
                            span {
                                font-size: 14px;
                                color: white;
                                margin-left: 6px;
                            }
                            .gr-c {
                                color: #6A40FB;
                            }
                            .anticon {
                                margin-right: 6px;
                            }
                        }
                        p:first-child {
                            margin-bottom: 4px;
                        }
                    }
                    .vote-btn {
                        width: 100%;
                        height: 32px;
                        transition: .3s all;
                        button {
                            width: 100%;
                            height: 100%;
                            background-color: #312D2B;
                            border-color: #FC6542;
                            color: #FC6542;
                            border-radius: 0;
                            font-size: 14px;
                            font-family: SparkSemiBold;
                            border-radius: 8px;
                            box-shadow: none;
                            display: inline-block;
                            transition: .3s all;
                        }
                    }
                }
                .hackthon-card-new:hover {
                    .nft-box {
                        img {
                            transform: scale(1.1);
                        }
                    }
                    .vote-btn {
                        button {
                            background: #FC6542;
                            color: white;
                            border: 0;
                        }
                    }
                }
                .add-work {
                    height: 188px;
                    width: 23%;
                    margin-bottom: 24px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #3B3838;
                    box-shadow: 0px 6px 24px 1px rgba(0, 0, 0, 0.18);
                    span {
                        font-size: 68px;
                        font-weight: bold;
                        color: #FC6542;
                    }
                }
                .hackthon-card-new:nth-child(4n) {
                    margin-right: 0;
                }
                @media screen and (max-width:1441px) {
                    .hackthon-card-new {
                        width: 31%;
                    }
                    .add-work {
                        width: 30%;
                    }
                    .hackthon-card-new:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1280px) {
    .center-modal-title {
        font-size: 1.6rem !important;
    }
}
.launch-modal-custom {
    .center-modal-title {
        text-align: center;
        font-size: 24px;
    }
    .launch-inner {
        width: 95%;
        margin: 0 auto;
        ul {
            li {
                margin-top: 12px;
                p {
                    font-size: 16px;
                    color: white;
                    margin-right: 24px;
                    text-align: left;
                    margin-bottom: 8px;
                    sup {
                        color: #FC6542;
                        margin-right: 4px;
                    }
                    span {
                        font-size: 12px;
                    }
                }
                input {
                    width: 100%;
                    height: 48px;
                    font-size: 16px;
                    border-radius: 8px;
                    color: white;
                    background-color: #141414;
                    padding-left: 12px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                textarea {
                    width: 100%;
                    outline: none;
                    resize: none;
                    border-radius: 8px;
                    height: 120px;
                    box-sizing: border-box;
                    padding: 12px;
                    font-size: 15px;
                    border-color: #ccc;
                }
                .token-box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 48px;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                    .select-chain {
                        width: 65%;
                    }
                    .ant-select {
                        height: 48px;
                        width: 100%;
                        .select-custom-option {
                            display: flex;
                            align-items: center;
                            img {
                                margin-right: 8px;
                            }
                            p {
                                margin: 0;
                                font-size: 14px;
                            }
                        }
                    }
                    .token-i {
                        flex: 1;
                        margin-left: 24px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        .loading-b {
                            position: absolute;
                            z-index: 1;
                            left: 60px;
                            top: 12px;
                        }
                        img {
                            margin-right: 4px;
                        }
                        p {
                            margin: 0;
                        }
                        border-radius: 8px;
                        p:last-child {
                            font-size: 14px;
                            color: #686A6C;
                            span {
                                font-weight: bold;
                                color: #DF0885;
                            }
                        }
                    }
                }
                @media screen and (max-width:1280px) {
                    p {
                        font-size: 1.4rem;
                    }
                    .token-box {
                        flex-wrap: wrap;
                        height: auto;
                        .select-chain {
                            width: 100%;
                            margin-bottom: 2.4rem;
                        }
                        .token-i {
                            margin-left: 0;
                        }
                    }
                }
                input::placeholder {
                    color: #999;
                }
                textarea::placeholder {
                    color: #999;
                }
                .ant-picker {
                    width: 100%;
                    border-color: rgba(0, 0, 0, 0);
                    padding: 0 11px 0;
                    background-color: #141414 !important;
                    input {
                        border: 0;
                        padding-left: 0;
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
                .ant-select-selector {
                    border: 0;
                }
                .with-oper {
                    width: 100%;
                    display: flex;
                    position: relative;
                    input {
                        flex: 1;
                        margin: 0 12px;
                    }
                    .unit {
                        position: absolute;
                        top: 14px;
                        right: 70px;
                    }
                    .oper-btn {
                        width: 48px;
                        height: 48px;
                        cursor: pointer;
                        border-radius: 8px;
                        border: 1px solid #FC6542;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            font-size: 20px;
                            color: #FC6542;
                        }
                    }
                }
            }
        }
        .submit {
            text-align: center;
            margin-top: 32px;
            padding-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            button {
                width: 200px;
                height: 48px;
                border-radius: 32px;
                font-size: 16px;
                background: #FC6542;
                border: 0;
                transition: .3s all;
            }
            button:last-child {
                margin-right: 0;
            }
            .dis-btn {
                background: #F0F0F0 !important;
                color: #686A6C;
            }
        }
        @media screen and (max-width:1280px) {
            p {
                font-size: 1.4rem;
            }
            .submit {
                justify-content: space-between;
                button {
                    width: 14rem;
                    font-size: 1.4rem;
                }
            }
        }
        .line {
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 24px;
            width: 55%;
            height: 3px;
            background: #F0F0F0;
            transition: .3s all;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #f0f0f0;
            }
        }
        .c-line {
            background: linear-gradient(258deg, rgb(251, 220, 64) 0%, #fcb242 41%, #FC6542 80%, #FC6542 100%);
            span:first-child {
                background-color: #FC6542;
            }
            span:last-child {
                background-color: rgb(251, 220, 64);
            }
        }
    }
}
.work-modal-custom {
    .center-modal-title {
        text-align: center;
        font-size: 24px;
    }
    .work-inner {
        padding: 0 30px;
        .tabs {
            margin-top: 32px;
            ul {
                display: flex;
                justify-content: center;
                li {
                    width: 230px;
                    height: 60px;
                    border-radius: 16px;
                    transition: .3s all;
                    font-size: 24px;
                    color: white;
                    background-color: #141414;
                    border: 1px solid #202025;
                    text-align: center;
                    line-height: 54px;
                    cursor: pointer;
                    margin-right: 32px;
                }
                li:last-child {
                    margin-right: 0;
                }
                .active-type {
                    background-color: #FC6542;
                    color: white;
                }
            }
        }
        .design-box {
            .title {
                font-size: 18px;
                color: white;
                font-weight: 500;
                margin-top: 24px;
                sup {
                    color: #FC6542;
                    margin: 0 4px;
                }
                span {
                    font-size: 18px;
                    color: white;
                }
            }
            .word-title {
                margin-top: 24px;
                ul {
                    padding: 2px;
                    background-color: #141414;
                    display: inline-flex;
                    border-radius: 12px;
                    li {
                        padding: 12px 20px;
                        font-size: 14px;
                        color: white;
                        cursor: pointer;
                        transition: .3s all;
                        border-radius: 14px;
                    }
                    .active-tab {
                        background-color: #FC6542;
                    }
                }
            }
            .word-inner {
                margin-top: 26px;
                .inner-b {
                    .b-name {
                        font-size: 14px;
                        color: white;
                        font-family: SparkSemiBold;
                    }
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            padding: 12px 24px;
                            border-radius: 8px;
                            background-color: #141414;
                            cursor: pointer;
                            margin-top: 12px;
                            margin-right: 16px;
                            transition: .2s all;
                        }
                        .select-word {
                            background-color: #FC6542;
                            color: white;
                        }
                    }
                }
            }
            .review-box {
                margin-top: 24px;
                display: flex;
                .title {
                    color: white;
                    font-size: 14px;
                    margin-bottom: 12px;
                    sup {
                        color: #FC6542;
                        margin-right: 4px;
                    }
                }
                .word-review {
                    width: 288px;
                    height: 216px;
                    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.1);
                    margin-right: 36px;
                    border-radius: 16px;
                    padding: 16px;
                    background-color: #141414;
                    textarea {
                        resize: none;
                        outline: none;
                        border: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0);
                        font-size: 14px;
                        color: white;
                        font-weight: 500;
                    }
                }
                .view-box {
                    flex: 1;
                    .im-box {
                        width: 100%;
                        display: flex;
                        background-color: #141414;
                        align-items: center;
                        justify-content: center;
                        height: 216px;
                        box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.1);
                        overflow: hidden;
                        border-radius: 16px;
                    }
                }
            }
            .gen {
                text-align: right;
                margin-top: 16px;
                button {
                    width: 192px;
                    height: 48px;
                    border-radius: 16px;
                    background-color: #FC6542;
                }
                .dis-btn {
                    opacity: .6;
                }
            }
        }
        .inp-ul {
            li {
                margin-top: 24px;
                position: relative;
                .token-box {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 48px;
                    right: 20px;
                    p {
                        margin-bottom: 0;
                        color: white;
                        font-weight: 600;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }
                p {
                    text-align: left;
                    margin-right: 24px;
                    margin-bottom: 12px;
                    sup {
                        margin-right: 4px;
                        color: #FC6542;
                    }
                }
                .upload-nft-box {
                    width: 200px;
                    height: 200px;
                    margin: 16px auto 0;
                    background-color: #141414;
                    border-radius: 8px;
                    .up-box {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        cursor: pointer;
                        img {
                            position: relative;
                            z-index: 50;
                            width: 64px;
                            height: 64px;
                        }
                        input {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            z-index: 100;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                    .review-box {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .img-box {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 8px;
                            overflow: hidden;
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                            }
                        }
                        .delete-btn {
                            position: absolute;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background-color: #ddd;
                            text-align: center;
                            cursor: pointer;
                            top: -12px;
                            right: -12px;
                            span {
                                font-size: 14px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
                input {
                    width: 100%;
                    height: 48px;
                    border-radius: 8px;
                    font-size: 16px;
                    background-color: #141414;
                    color: white;
                    padding-left: 12px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                textarea {
                    width: 100%;
                    height: 120px;
                    box-sizing: border-box;
                    padding: 16px;
                    font-size: 15px;
                    outline: none;
                    border-radius: 8px;
                    border-color: #eee;
                    resize: none;
                }
                textarea::placeholder {
                    color: #999;
                }
                input::placeholder {
                    color: #999;
                }
            }
        }
        .submit {
            text-align: center;
            margin-top: 32px;
            padding-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            button {
                width: 200px;
                height: 48px;
                border-radius: 32px;
                font-size: 16px;
                background: #FC6542;
                border: 0;
                transition: .3s all;
            }
            button:last-child {
                margin-right: 0;
            }
            .dis-btn {
                background: #F0F0F0 !important;
                color: #686A6C;
            }
        }
        @media screen and (max-width:1280px) {
            .submit {
                justify-content: space-between;
                button {
                    width: 14rem;
                    font-size: 1.4rem;
                }
            }
        }
        .line {
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 24px;
            width: 55%;
            height: 3px;
            background: #F0F0F0;
            transition: .3s all;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #f0f0f0;
            }
        }
        .c-line {
            background: linear-gradient(258deg, rgb(251, 220, 64) 0%, #fcb242 41%, #FC6542 80%, #FC6542 100%);
            span:first-child {
                background-color: #FC6542;
            }
            span:last-child {
                background-color: rgb(251, 220, 64);
            }
        }
    }
    @media screen and (max-width:1280px) {
        .work-inner {
            padding: 0;
            .tabs {
                ul {
                    li {
                        width: 14rem;
                        height: 4.8rem;
                        font-size: 1.6rem;
                        line-height: 4.8rem;
                    }
                }
            }
            .design-box {
                .title {
                    font-size: 1.6rem;
                }
                .word-title {
                    width: 100%;
                    ul {
                        width: 100%;
                        overflow: auto;
                        li {
                            white-space: nowrap;
                        }
                    }
                }
                .review-box {
                    flex-wrap: wrap;
                }
            }
        }
    }
}
.vote-modal-custom {
    .center-modal-title {
        text-align: center;
        font-size: 24px;
    }
    .vote-inner {
        ul {
            li {
                margin-top: 12px;
                position: relative;
                .token-box {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 44px;
                    right: 0;
                    p {
                        margin-bottom: 0;
                        color: #FC6542;
                        font-weight: 600;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                }
                p {
                    text-align: left;
                    margin-right: 24px;
                    margin-bottom: 8px;
                    sup {
                        color: #FC6542;
                    }
                    span {
                        font-size: 12px;
                        color: rgba(255, 255, 255, .7);
                    }
                }
                input {
                    width: 100%;
                    height: 48px;
                    border-radius: 8px;
                    font-size: 16px;
                    background-color: #141414;
                    color: white;
                    padding-left: 12px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                input::placeholder {
                    color: #999;
                }
            }
        }
        .submit {
            text-align: center;
            margin-top: 32px;
            padding-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            button {
                width: 200px;
                height: 48px;
                border-radius: 32px;
                font-size: 16px;
                background: #FC6542;
                border: 0;
                transition: .3s all;
            }
            button:last-child {
                margin-right: 0;
            }
            .dis-btn {
                background: #F0F0F0 !important;
                color: #686A6C;
            }
        }
        @media screen and (max-width:1280px) {
            .submit {
                justify-content: space-between;
                button {
                    width: 14rem;
                    font-size: 1.4rem;
                }
            }
        }
        .line {
            display: inline-block;
            margin: 0 auto;
            margin-bottom: 24px;
            width: 55%;
            height: 3px;
            background: #F0F0F0;
            transition: .3s all;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #f0f0f0;
            }
        }
        .c-line {
            background: linear-gradient(258deg, rgb(251, 220, 64) 0%, #fcb242 41%, #FC6542 80%, #FC6542 100%);
            span:first-child {
                background-color: #FC6542;
            }
            span:last-child {
                background-color: rgb(251, 220, 64);
            }
        }
    }
}
.custom-success-modal {
    .success-inner {
        text-align: center;
        padding: 32px 0;
        img {
            width: 54px;
            height: 54px;
        }
        .submit {
            margin-top: 32px;
            button {
                width: 100%;
                height: 48px;
                border-radius: 12px;
                border: 0;
                background: linear-gradient(258deg, rgb(251, 220, 64) 0%, #fcb242 41%, #FC6542 80%, #FC6542 100%);
                font-size: 16px;
            }
        }
    }
}
.ant-select-dropdown {
    z-index: 6500;
}
.select-custom-option {
    display: flex;
    align-items: center;
    height: 40px;
    p {
        margin-bottom: 0;
        font-size: 14px;
        span {
            font-weight: bold;
            color: #DF0885;
        }
    }
    img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}
@media screen and (max-width:1280px) {
    .hackthon-new-view {
        padding-top: 12rem;
        .title-oper {
            width: 100%;
            padding-left: 2.5%;
            padding-right: 2.5%;
            p {
                font-size: 24px;
            }
            button {
                width: auto;
                font-size: 12px;
                height: 32px;
                border-radius: 8px;
                font-weight: 600;
            }
        }
        .new-view-inner {
            width: 100%;
            flex-direction: column;
            display: block;
            position: relative;
            padding-top: 9rem;
            .left-name {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                z-index: 200;
                height: 7.5rem;
                overflow: auto;
                .anchor-box {
                    margin-bottom: 0;
                    .left-msg {
                        padding: 1.6rem 2rem;
                        position: relative;
                        .active-line {
                            position: absolute;
                            width: 100%;
                            height: 4px;
                            bottom: 0;
                            left: 0;
                        }
                        .meme-msg {
                            margin: 0;
                            padding: 0;
                            .symbol-name {
                                white-space: nowrap;
                                img {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .right-content {
                padding: 0 8px;
                height: calc(100vh - 26rem);
                margin-top: 0;
                .right-list-slide {
                    padding: 1.2rem .8rem;
                    .slide-title {
                        font-size: 1.6rem;
                    }
                    .date-msg {
                        position: relative;
                        z-index: 200;
                        .progress-box {
                            height: .8rem;
                            .p-date {
                                top: 1.2rem;
                            }
                        }
                    }
                    .share-box {
                        flex-direction: column;
                        height: auto;
                        padding-left: 5rem;
                        p {
                            margin-right: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: .4rem;
                            span {
                                margin-top: .4rem;
                                font-size: 1.4rem;
                            }
                        }
                        button {
                            width: auto;
                            font-size: 12px;
                            height: 2.4rem;
                            border-radius: 8px;
                            margin-top: .4rem;
                            margin-bottom: .8rem;
                        }
                    }
                    .share-box::before {
                        border: 80px solid;
                        left: -140px;
                        top: 10px;
                        transform: rotate(-15deg);
                        border-color: transparent #221C1A transparent transparent;
                    }
                    .items-list {
                        margin-top: 6rem;
                        .add-work {
                            width: calc(50% - 12px);
                            height: 12.8rem;
                        }
                        .hackthon-card-new {
                            width: calc(50% - 12px);
                            margin-right: 2.4rem;
                            padding: .8rem 1.2rem;
                            .first-icon {
                                width: 7.6rem;
                                height: 7.6rem;
                                right: -3.8rem;
                                top: -3.8rem;
                            }
                            .nft-box {
                                width: 5.6rem;
                                height: 5.6rem;
                                min-width: 5.6rem;
                            }
                            .right-msg {
                                .vote-btn {
                                    height: 2.4rem;
                                    button {
                                        font-size: 1.2rem;
                                        border-radius: 6px;
                                    }
                                }
                            }
                        }
                        .hackthon-card-new:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}