.owner-view {
  padding-top: 100px;
  .owner-bg {
    width: 100%;
    height: 500px;
    transform: translateY(-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
    }
    .max-height {
      height: 100%;
    }
    .loading-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .owner-inner {
    display: inline-flex;
    width: 100%;
    margin-top: -100px;
    padding: 0 60px;
    .owner-card {
      min-width: 288px;
      width: 288px;
      background-color: #f0f0f0;
      transform: translateY(-80px);
      border-radius: 24px;
      margin-right: 48px;
      height: 650px;
      .account-msg {
        .avatar-box {
          height: 288px;
          width: 100%;
          border-radius: 24px;
          border: 4px solid white;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
          }
          .loading-avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .set-box-mobile {
          display: none;
        }
        .name-address {
          .name {
            font-size: 24px;
            margin-top: 42px;
            color: #202025;
            font-weight: 500;
            font-family: SparkTextNew;
          }
          .copy-address {
            margin-top: 8px;
            font-size: 14px;
            color: #202025;
            span {
              color: #df0885;
              cursor: pointer;
              margin-left: 4px;
            }
          }
        }
        .audio-box {
          width: calc(100% - 32px);
          margin-left: 16px;
          height: 34px;
          display: flex;
          justify-content: space-between;
          background-color: #f23176;
          border-radius: 20px;
          align-items: center;
          padding: 4px;
          margin-top: 48px;
          .play-btn {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span {
              font-size: 18px;
            }
            audio {
              display: none;
            }
            background: linear-gradient(180deg, #fa3370 0%, #fa89cb 100%);
          }
          .audio-progress {
            width: 140px;
            height: 30px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .audio-end {
            margin-right: 4px;
            font-size: 15px;
            color: rgba(244, 245, 246, 0.5);
          }
        }
        .dis-audio {
          filter: grayscale(1);
          cursor: not-allowed;
        }
        .outside-url {
          margin-top: 48px;
          padding-bottom: 48px;
          border-bottom: 1px solid #353945;
          display: flex;
          align-items: center;
          justify-content: center;
          .with-hand {
            cursor: pointer;
          }
          span {
            font-size: 20px;
            color: #777e90;
            margin-right: 8px;
          }
        }
        .set-box {
          margin-top: 44px;
          button {
            border-radius: 32px;
            width: 110px;
            height: 36px;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid rgba(104, 106, 108, 0.4);
            span {
              color: #686a6c;
            }
          }
        }
        .ourside-account {
          margin-top: 48px;
          display: flex;
          justify-content: center;
          .outside-url-mobile {
            display: none;
          }
          span {
            color: #777e90;
            font-size: 20px;
            cursor: pointer;
            margin-right: 20px;
          }
          span:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .inner-data {
      flex: 1;
      position: relative;
      .set-btn {
        position: absolute;
        width: 112px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        color: white;
        cursor: pointer;
        right: 0;
        top: -58px;
        span {
          font-size: 16px;
          margin-right: 4px;
        }
        border: 2px solid rgba(255, 255, 255, 0.4);
      }
    }
  }
  .data-tabs {
    background-color: #141416;
    padding-top: 30px;
    padding-bottom: 30px;
    ul {
      display: flex;
      justify-content: center;
      li {
        margin-right: 30px;
        color: white;
        cursor: pointer;
        transition: 0.3s all;
        padding: 8px 16px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
      }
      .active-top {
        background-color: #df0885;
      }
    }
  }
  .filter-box {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 64px;
    align-items: center;
    margin-bottom: 20px;
    .tabs {
      background-color: #f0f0f0;
      border-radius: 22px;
      padding: 4px;
      ul {
        display: flex;
        li {
          color: #686a6c;
          font-size: 16px;
          width: 100px;
          height: 40px;
          cursor: pointer;
          border-radius: 100px;
          transition: 0.3s all;
          font-weight: 500;
          line-height: 40px;
        }
        .active-top {
          background-color: white;
          color: #141416;
        }
      }
    }
    .search-box {
      input {
        height: 40px;
        width: 260px;
        padding-left: 12px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #333;
        border-radius: 20px;
        color: white;
        font-size: 16px;
      }
    }
  }
}
.new-nft-card {
  width: 18.1%;
  border-radius: 16px;
  overflow: hidden;
  margin-right: 32px;
  margin-bottom: 50px;
  box-shadow: 0px 6px 24px 1px rgba(110, 110, 110, 0.18);
  .nft-box {
    height: 244px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .play-btn {
      width: 40px;
      height: 40px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      border-top-left-radius: 16px;
      bottom: 0;
      right: 0;
      z-index: 21;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      span {
        font-size: 20px;
        color: #e10a86;
      }
    }
    .submit-btn {
      left: 16px;
      right: auto;
      width: 50px;
      height: 32px;
      border: 0;
      span {
        color: white;
      }
      background: linear-gradient(270deg, #6a40fb 0%, #f23176 100%);
    }
    button {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 104px;
      height: 32px;
      border-radius: 32px;
      border: 0;
      span {
        color: #686a6c;
      }
    }
    .sell-btn {
      width: 94px;
      span {
        color: white;
      }
    }
    img {
      width: 100%;
    }
  }
  .coll-name {
    margin-top: 42px;
    font-size: 20px;
    color: #0d0d0d;
    text-align: left;
    font-family: SparkTextNew;
    font-weight: 600;
    padding-left: 18px;
  }
  .nft-msg {
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #0d0d0d;
    align-items: center;
    .nft-price {
      color: #e10a86;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
.new-nft-card:nth-child(5n) {
  margin-right: 0;
}
.no-more {
  color: #686a6c;
}
.conponenst-gater {
  padding-bottom: 20px;
  .list-item {
    .market-card {
      width: calc(25% - 19px);
      margin-right: 24px;
    }
    .market-card:nth-child(4n) {
      margin-right: 0;
    }
    .market-card:nth-child(5n) {
      margin-right: 22px;
    }
    .market-card:hover {
      transform: translateY(-5px);
    }
  }
}
.has-no-more {
  font-size: 16px;
  color: #ccc;
}
.load-more {
  button {
    border-radius: 20px;
  }
}

.tab-list {
  max-width: 1733px;
  padding-bottom: 80px;

  .list-content {
    ul {
      display: flex;
      li {
        color: white;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: #999;
      }
      li:first-child {
        width: 15%;
      }
      li:nth-child(2) {
        width: 30%;
      }
      li:nth-child(3) {
        width: 10%;
        text-align: right;
        padding-right: 30px;
      }
      li:nth-child(4),
      li:nth-child(5) {
        width: 15%;
      }
      li:last-child {
        width: 15%;
        text-align: right;
      }
    }
    .content-title {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .content-data {
      ul {
        margin-bottom: 32px;
        cursor: pointer;
        li {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          color: white;
          p {
            font-size: 16px;
          }
          .color-g {
            color: #999;
          }
          .with-img {
            display: flex;
            align-items: center;
            img {
              width: 60px;
              margin-right: 20px;
              border-radius: 4px;
            }
            .name-msg {
              p:first-child {
                margin-bottom: 6px;
              }
            }
          }
        }
        li:first-child {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          p:first-child {
            margin-bottom: 6px;
          }
        }
        li:nth-child(3) {
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          p:first-child {
            margin-bottom: 6px;
          }
        }
        li:last-child {
          justify-content: flex-end;
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .owner-view {
    .owner-inner {
      .owner-card {
        width: 200px;
        min-width: 200px;
        .account-msg {
          .avatar-box {
            height: 200px;
          }
        }
      }
      .inner-data {
        .conponenst-gater {
          .list-item {
            .nft-box {
              height: 200px;
            }
          }
        }
      }
    }
  }
}
.competition-list {
  padding-top: 40px;
  .loading-box {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    height: 400px;
    overflow: auto;
    li {
      width: 100%;
      margin-bottom: 32px;
      position: relative;
      display: inline-flex;
      .poster-box {
        width: 282px;
        height: 164px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #eee;
        img {
          width: 100%;
        }
      }
      .right-oper {
        margin-left: 24px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .com-title {
        font-size: 18px;
        font-family: SparkTitleNew;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .com-remark {
        font-size: 14px;
        color: #686a6c;
      }
      .com-msg {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        display: flex;
        align-items: center;
        .left-i {
          display: flex;
          align-items: center;
        }
        button {
          width: 188px;
          height: 48px;
          border-radius: 12px;
          border: 0;
          font-size: 16px;
          background: linear-gradient(90deg, #f23176 0%, #6a40fb 100%);
        }
        .end-date {
          padding: 6px 10px;
          border-radius: 8px;
          background-color: #efefef;
          align-items: center;
          justify-content: space-between;
          display: flex;
          align-items: center;
          .point-box {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: rgba(255, 51, 170, 0.2);
            padding: 4px;
            .point-inner {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: #ff33aa;
            }
          }
          p {
            font-size: 14px;
            color: #202025;
            margin-left: 8px;
          }
        }
        .hot-num {
          font-size: 14px;
          color: #202025;
          margin-left: 24px;
        }
      }
    }
    .no-data {
      padding-top: 100px;
      p {
        text-align: center;
        width: 100%;
        font-size: 14px;
        font-family: SparkSemiBold;
        color: #686a6c;
      }
    }
    .selected-contest {
      .select-box {
        background-color: #df0885;
        span {
          color: white;
        }
      }
    }
  }
  .submit-btn {
    text-align: center;
    margin-top: 24px;
    button {
      width: 120px;
      height: 40px;
      font-size: 16px;
      border-radius: 32px;
      margin-right: 24px;
    }
    button:last-child {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 1280px) {
  .owner-view {
    width: 100%;
    padding: 0;
    padding-top: 6rem;
    .owner-bg {
      height: 12.8rem;
      transform: translateY(0);
    }
    .owner-inner {
      width: 100%;
      margin-top: 0;
      padding: 0;
      flex-direction: column;
      .owner-card {
        margin-right: 0;
        width: 100%;
        padding: 0 2.4rem;
        transform: translateY(0);
        height: auto;
        border-radius: 0.8rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .account-msg {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .avatar-box {
            height: 14.4rem;
            width: 14.4rem;
            transform: translateY(-2rem);
          }
          .address-msg {
            transform: translateY(-2rem);
            text-align: left;
            margin-left: 1.2rem;
            padding-top: 2rem;
            .name-address {
              .name {
                margin-top: 0;
                font-size: 1.6rem;
              }
              .copy-address {
                font-size: 1.2rem;
              }
            }
            .audio-box {
              margin-top: 1.2rem;
              margin-left: 0;
              width: 16rem;
              height: 2.4rem;
              .audio-progress {
                width: 10rem;
                height: 2rem;
              }
              .play-btn {
                width: 2rem;
                height: 2rem;
              }
            }
            .set-box-mobile {
              display: block;
              margin-top: 1.2rem;
              button {
                width: 8rem;
                height: 2.4rem;
                padding: 0;
                font-size: 1.2rem;
                border-radius: 1.6rem;
              }
            }
          }
          .set-box {
            display: none;
          }
          .ourside-account {
            margin-top: 0;
            padding-bottom: 2.4rem;
            display: flex;
            width: 100%;
            justify-content: space-between;
            .outside-url-mobile {
              display: flex;
              align-items: center;
              span {
                margin-right: 0.6rem;
              }
              p {
                font-size: 1.4rem;
                color: #777e90;
              }
            }
          }
        }
      }
      .inner-data {
        transform: translateY(0);
        margin-top: 2rem;
        padding: 0 2rem;
        .set-btn {
          display: none;
        }
        .filter-box {
          margin-top: 0;
          .tabs {
            padding: 2px 4px;
            ul {
              li {
                width: 7rem;
                height: 3rem;
                font-size: 1.4rem;
                line-height: 3rem;
              }
            }
          }
          .search-box {
            flex: 1;
            margin-left: 1.2rem;
            input {
              width: 100%;
              height: 3.2rem;
              border-color: #ddd;
              font-size: 1.4rem;
              color: black;
            }
          }
        }
        .conponenst-gater {
          .list-item {
            .new-nft-card {
              width: calc(50% - 1rem);
              margin-right: 2rem;
              .nft-box {
                height: 15.8rem;
                .submit-btn {
                  left: 0.8rem;
                  top: 0.8rem;
                  height: 2.4rem;
                  width: 4.6rem;
                  span {
                    font-size: 1.4rem;
                  }
                }
                .sell-btn {
                  top: 0.8rem;
                  right: 0.8rem;
                  font-size: 12px;
                  padding: 2px 6px;
                  height: auto;
                  width: auto;
                }
                .up-top {
                  font-size: 1.2rem;
                  top: 0.8rem;
                  right: 0.8rem;
                  width: auto;
                  padding: 2px 6px;
                  height: auto;
                }
              }
              .coll-name {
                margin-top: 1.2rem;
                padding: 0 1.2rem;
                font-size: 1.6rem;
              }
              .nft-msg {
                padding: 0 1.2rem;
                flex-wrap: wrap;
                font-size: 1.2rem;
                .nft-price {
                  width: 100%;
                  text-align: right;
                  margin-top: 0.8rem;
                }
              }
            }
            .new-nft-card:nth-child(2n) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .competition-list {
    ul {
      li {
        .poster-box {
          width: 14rem;
          height: 8.2rem;
        }
        .right-oper {
          .com-title {
            font-size: 1.6rem;
          }
          .com-remark {
            font-size: 1.2rem;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
          }
          .com-msg {
            flex-direction: column;
            align-items: flex-start;
            .left-i {
              width: 100%;
              justify-content: space-between;
              align-items: center;
              .end-date {
                padding: 3px 7px;
                p {
                  font-size: 1.2rem;
                }
              }
              .hot-num {
                font-size: 1.2rem;
              }
            }
            button {
              margin-top: 1.2rem;
              width: 10rem;
              height: 2.4rem;
              border-radius: 0.6rem;
              padding: 0;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
