.owner-view {
  padding-top: 100px;
  .owner-bg {
    width: 100%;
    height: 500px;
    transform: translateY(-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
    }
    .max-height {
      height: 100%;
    }
    .loading-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .owner-inner {
    width: 100%;
    margin-top: -100px;
    padding: 0 60px;
    .owner-card {
      width: 100%;
      transform: translateY(-200px);
      .account-msg {
        display: flex;
        flex-direction: column;
        .avatar-box {
          height: 288px;
          width: 288px;
          border-radius: 24px;
          border: 4px solid white;
          background-color: #f0f0f0;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
          }
          .loading-avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .new-card-msg {
          border-right: 1px solid #eee;
          padding-right: 24px;
          flex: 1;
          overflow: auto;
          display: none;
          .address-msg {
            overflow: auto;
            padding-bottom: 40px;
          }
          .name-address {
            text-align: left;
            .name {
              font-size: 24px;
              margin-top: 28px;
              color: #202025;
              font-weight: 500;
              font-family: SparkTextNew;
            }
            .copy-address {
              margin-top: 8px;
              font-size: 16px;
              color: #202025;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span:last-child {
                font-weight: 600;
              }
            }
          }
          .sel-tabs {
            display: flex;
            margin-top: 32px;
            margin-bottom: 42px;
            p {
              font-size: 16px;
              color: #686a6c;
              width: 88px;
              height: 40px;
              line-height: 40px;
              border-radius: 14px;
              cursor: pointer;
              transition: 0.3s all;
            }
            .select-tab {
              background-color: #f0f0f0;
              color: #050505;
            }
          }
          .public-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            cursor: pointer;
            p {
              font-size: 18px;
              color: #050505;
              span {
                font-size: 14px;
                transform: rotate(180deg);
                transition: 0.3s all;
              }
            }
            .hide-arrow {
              span {
                transform: rotate(0);
              }
            }
          }
          .search-inp {
            width: 100%;
            height: 48px;
            border: 1px solid #e6e6e6;
            border-radius: 16px;
            padding: 0 24px;
            display: flex;
            align-items: center;
            span {
              font-size: 18px;
              color: rgba(80, 80, 80, 0.7);
            }
            input {
              flex: 1;
              margin-left: 14px;
              font-size: 16px;
            }
          }
          .col-box {
            padding-bottom: 32px;
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 24px;
            transition: 0.3s all;
            p {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 12px;
              font-size: 12px;
              color: #050505;
            }
          }
          .price-box {
            padding-bottom: 32px;
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 32px;
            .ant-select {
              font-size: 16px;
              width: 100%;
              .ant-select-selector {
                border-radius: 16px;
                height: 48px;
                padding: 0 12px;
                line-height: 48px;
                .ant-select-selection-search {
                  input {
                    height: 100%;
                    padding-top: 12px;
                    line-height: 46px;
                  }
                }
                .ant-select-selection-item {
                  line-height: 46px;
                  font-family: SparkTextNew;
                  font-size: 16px;
                  text-align: left;
                }
              }
            }
            .limit-box {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 14px;
              color: #050505;
              margin-top: 14px;
              input {
                width: 118px;
                height: 40px;
                border: 1px solid #e6e6e6;
                border-radius: 16px;
                text-align: center;
              }
            }
            .apply-b {
              margin-top: 16px;
              button {
                width: 100%;
                height: 40px;
                background-color: #f5319d;
                color: white;
                border-radius: 16px;
              }
            }
          }
          .cur-box {
            .ant-checkbox-group {
              margin-top: 26px;
            }
          }
          .hide-box {
            height: 0;
            overflow: hidden;
            padding: 0;
          }
        }
        .new-card-msg-2 {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 28px;
          .address-msg {
            display: flex;
            align-items: center;
            .user-name {
              font-size: 32px;
              color: #202025;
              font-family: SparkTextNew;
            }
            .user-address-2 {
              display: none;
            }
            .set-box-2 {
              display: none;
            }
            .play-audio {
              width: 186px;
              height: 34px;
              border-radius: 32px;
              border: 1px solid #f23176;
              margin-left: 26px;
              display: flex;
              align-items: center;
              border-left: 0;
              .play-btn {
                width: 34px;
                height: 34px;
                border: 1px solid #f23176;
                border-radius: 50%;
                padding: 4px;
                cursor: pointer;
                p {
                  width: 100%;
                  border-radius: 50%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: linear-gradient(180deg, #fa3370 0%, #fa89cb 100%);
                  span {
                    font-size: 16px;
                  }
                }
              }
              img {
                margin-left: 8px;
                height: 32px;
              }
            }
            .dis-box {
              filter: grayscale(1);
              cursor: no-drop;
            }
            .otside-url {
              margin-left: 26px;
              display: flex;
              align-items: center;
              span {
                color: #686a6c;
                font-size: 24px;
                margin-right: 24px;
                cursor: pointer;
              }
              .icon-link {
                margin-left: 12px;
                margin-right: 6px;
                font-family: SparkTextNew;
              }
              p {
                font-size: 14px;
                color: #202025;
              }
            }
          }
          .set-box {
            width: 60px;
            height: 40px;
            background-color: #f0f0f0;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span {
              font-size: 18px;
              color: #686a6c;
            }
          }
        }
        .address-msg-2 {
          display: flex;
          justify-content: flex-start;
          margin-top: 24px;
          font-size: 16px;
          color: #202025;
          p {
            margin-right: 24px;
            span {
              cursor: pointer;
              margin-left: 8px;
              color: #f23176;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1440px) {
      .owner-card {
        transform: translateY(-150px);
      }
    }
    .inner-data {
      position: relative;
      padding-top: 32px;
      transform: translateY(-160px);
      .set-btn {
        position: absolute;
        width: 112px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        color: white;
        cursor: pointer;
        right: 0;
        top: -58px;
        span {
          font-size: 16px;
          margin-right: 4px;
        }
        border: 2px solid rgba(255, 255, 255, 0.4);
      }
    }
  }
  .data-tabs {
    background-color: #141416;
    padding-top: 30px;
    padding-bottom: 30px;
    ul {
      display: flex;
      justify-content: center;
      li {
        margin-right: 30px;
        color: white;
        cursor: pointer;
        transition: 0.3s all;
        padding: 8px 16px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
      }
      .active-top {
        background-color: #df0885;
      }
    }
  }
  .filter-box {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
    .tabs {
      border-radius: 12px;
      display: flex;
      align-items: center;
      ul {
        display: flex;
        padding-right: 24px;
        border-right: 1px solid #e6e6e6;
        li {
          color: #686a6c;
          font-size: 16px;
          width: 126px;
          height: 40px;
          cursor: pointer;
          border-radius: 12px;
          transition: 0.3s all;
          font-weight: 500;
          line-height: 40px;
        }
        .active-top {
          background-color: #f0f0f0;
          color: #141416;
        }
      }
      .balance-box {
        padding: 12px 30px;
        border: 1px solid #fa89cb;
        border-radius: 8px;
        display: flex;
        align-items: center;
        margin-left: 34px;
        p {
          font-size: 16px;
          font-weight: 600;
          color: #202025;
          transform: translateY(1px);
          img {
            width: 20px;
            margin: 0 4px;
            vertical-align: middle;
            display: inline-block;
            transform: translateY(-2px);
          }
          span {
            font-size: 20px;
            display: inline-block;
          }
        }
        .balance-by-u {
          font-size: 12px;
          color: #686a6c;
          margin-left: 12px;
          font-weight: 400;
          transform: translateY(3px);
        }
      }
    }
    .search-box {
      input {
        height: 40px;
        width: 260px;
        padding-left: 12px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #333;
        border-radius: 20px;
        color: white;
        font-size: 16px;
      }
    }
  }
  .other-filter {
    width: 180px;
    .mobile-filter-btn {
      display: none;
    }
    .ss-i {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      height: 48px;
      cursor: pointer;
      div {
        display: flex;
        align-items: center;
      }
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      p {
        color: #202025;
        font-size: 16px;
        font-family: SparkTextNew;
      }
      span {
        color: #202025;
        font-size: 14px;
      }
    }
  }
}
.select-chains {
  ul {
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 16px 24px;
      transition: 0.3s all;
      border-radius: 8px;
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      p {
        color: #202025;
        font-family: SparkTextNew;
        font-size: 14px;
        transition: 0.2s all;
      }
    }
    li:hover {
      background-color: #f8f6f6;
      p {
        color: #f23176;
      }
    }
    .disable-chain {
      filter: grayscale(1);
      cursor: no-drop;
    }
    .disable-chain:hover {
      background-color: white;
      p {
        color: #202025;
      }
    }
  }
}
.new-nft-card {
  width: calc(15.8% - 8px);
  border-radius: 16px;
  overflow: hidden;
  margin-right: 32px;
  margin-bottom: 50px;
  box-shadow: 0px 6px 24px 1px rgba(110, 110, 110, 0.18);
  position: relative;
  cursor: pointer;
  transition: 0.3s all;
  .chain-logo {
    position: absolute;
    background-color: black;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    z-index: 22;
    img {
      width: 20px;
    }
  }
  .nft-box {
    height: 204px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .error-card {
      padding-left: 60px;
    }
    .play-btn {
      width: 40px;
      height: 40px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      border-top-left-radius: 16px;
      bottom: 0;
      right: 0;
      z-index: 21;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      span {
        font-size: 20px;
        color: #e10a86;
      }
    }
    .submit-btn {
      left: 16px;
      right: auto;
      width: 50px;
      height: 32px;
      border: 0;
      span {
        color: white;
      }
      background: linear-gradient(270deg, #6a40fb 0%, #f23176 100%);
    }
    button {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 104px;
      height: 32px;
      border-radius: 32px;
      border: 0;
      span {
        color: #686a6c;
      }
    }
    .sell-btn {
      width: 94px;
      span {
        color: white;
      }
    }
    img {
      width: 100%;
      transition: 0.3s all;
      z-index: 10;
    }
  }
  .oper-box {
    position: absolute;
    width: 100%;
    height: 42px;
    left: 0;
    bottom: 0;
    background: linear-gradient(115deg, #e10a86 0%, #6a64e4 100%);
    transform: translateY(42px);
    transition: 0.3s all;
    display: flex;
    .left-text {
      flex: 1;
      p {
        line-height: 42px;
        font-size: 14px;
        color: white;
        font-family: SparkSemiBold;
      }
    }
    .more-options {
      width: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid rgba(255, 255, 255, 0.4);
      span {
        transform: rotate(90deg);
        font-size: 24px;
        font-weight: bold;
      }
    }
    .flex-w {
      flex: 1;
    }
  }
  .coll-name {
    margin-top: 24px;
    font-size: 20px;
    line-height: 24px;
    color: #0d0d0d;
    text-align: left;
    font-family: SparkTextNew;
    font-weight: 600;
    padding-left: 18px;
  }
  .nft-name {
    color: #050505;
    font-size: 14px;
    font-family: SparkTextNew;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 18px;
    margin: 8px auto;
  }
  .nft-msg {
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #0d0d0d;
    align-items: center;
    .nft-price {
      color: #e10a86;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
.new-nft-card:hover {
  transform: translateY(-5px);
  .nft-box {
    img {
      transform: scale(1.1);
    }
  }
  .oper-box {
    transform: translateY(0);
  }
}
.new-nft-card:nth-child(6n) {
  margin-right: 0;
}
@media screen and (max-width:1920px) {
  .new-nft-card {
    width: calc(15.5% - 8px);
  }
}
@media screen and (max-width:1720px) {
  .new-nft-card {
    width: calc(15.2% - 8px);
  }
}
@media screen and (max-width:1400px) {
  .new-nft-card {
    width: 17.5% !important;
  }
}
// .new-nft-card:nth-child(6n) {
//   margin-right: 32px;
// }
.no-more {
  color: #686a6c;
  font-size: 16px;
}
.conponenst-gater {
  padding-bottom: 20px;
  .list-item {
    .wallet-assets-filter {
      width: 302px;
      border-right: 1px solid #e8e8e8;
      margin-right: 30px;
      transition: 0.5s all;
      overflow: hidden;
      .control-filter {
        width: 48px;
        height: 48px;
        background-color: #f6f6f6;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span {
          color: #050505;
          font-size: 16px;
          display: inline-block;
          transition: 0.3s all;
        }
        .close-filter {
          transform: scaleX(-1);
        }
      }
    }
    .item-inner-list {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
    }
    .tokens-list {
      flex: 1;
      .ant-table-thead {
        .ant-table-cell {
          background-color: white;
          border: 0;
        }
      }
      .ant-table-cell {
        border: 0;
      }
      p {
        font-size: 16px;
        font-weight: 600;
        height: 100%;
      }
      .w-tr {
        transform: translateY(-20px);
      }
      .token-msg {
        display: flex;
        align-items: center;
        img {
          width: 56px;
          height: 56px;
        }
        p {
          margin-left: 34px;
          height: auto;
        }
      }
    }
    .market-card {
      width: calc(25% - 19px);
      margin-right: 24px;
    }
    .market-card:nth-child(4n) {
      margin-right: 0;
    }
    .market-card:nth-child(5n) {
      margin-right: 22px;
    }
    .market-card:hover {
      transform: translateY(-5px);
    }
  }
  .filter-condition {
    .new-nft-card {
      width: calc(15% - 8px);
    }
    .item-inner-list {
      @media screen and (max-width:1920px) {
        .new-nft-card {
          .nft-box {
            height: 162px;
          }
        }
      }
      @media screen and (max-width:1720px) {
        .new-nft-card {
          width: calc(18% - 8px);
        }
        .new-nft-card:nth-child(5n) {
          margin-right: 0;
        }
        .new-nft-card:nth-child(6n) {
          margin-right: 22px;
        }
      }
      @media screen and (max-width:1660px) {
        .new-nft-card {
          width: calc(23% - 8px) !important;
        }
        .new-nft-card:nth-child(4n) {
          margin-right: 0;
        }
        .new-nft-card:nth-child(5n) {
          margin-right: 22px !important;
        }
      }
      @media screen and (max-width:1400px) {
        .new-nft-card {
          width: 17.5% !important;
        }
      }
    }
  }
}
.has-no-more {
  font-size: 16px;
  color: #ccc;
}
.load-more {
  button {
    border-radius: 20px;
  }
}
.condition-list {
  margin-top: 24px;
  transition: 0.3s all;
  min-width: 302px;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 10px 14px;
      background-color: #f0f0f0;
      border-radius: 8px;
      margin-right: 18px;
      margin-bottom: 24px;
      cursor: pointer;
      transition: 0.3s all;
      p {
        color: #202025c8;
        font-size: 16px;
        font-weight: 600;
        transition: 0.3s all;
      }
    }
    .dis-c {
      cursor: no-drop;
    }
    .active-condition {
      background-color: #202025;
      p {
        color: white;
      }
    }
  }
}
.close-condition {
  width: 68px !important;
  .condition-list {
    opacity: 0;
  }
}
.tab-list {
  max-width: 1733px;
  padding-bottom: 80px;
  .list-content {
    ul {
      display: flex;
      li {
        color: white;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: #999;
      }
      li:first-child {
        width: 15%;
      }
      li:nth-child(2) {
        width: 30%;
      }
      li:nth-child(3) {
        width: 10%;
        text-align: right;
        padding-right: 30px;
      }
      li:nth-child(4),
      li:nth-child(5) {
        width: 15%;
      }
      li:last-child {
        width: 15%;
        text-align: right;
      }
    }
    .content-title {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .content-data {
      ul {
        margin-bottom: 32px;
        cursor: pointer;
        li {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          color: white;
          p {
            font-size: 16px;
          }
          .color-g {
            color: #999;
          }
          .with-img {
            display: flex;
            align-items: center;
            img {
              width: 60px;
              margin-right: 20px;
              border-radius: 4px;
            }
            .name-msg {
              p:first-child {
                margin-bottom: 6px;
              }
            }
          }
        }
        li:first-child {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          p:first-child {
            margin-bottom: 6px;
          }
        }
        li:nth-child(3) {
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          p:first-child {
            margin-bottom: 6px;
          }
        }
        li:last-child {
          justify-content: flex-end;
        }
      }
    }
  }
}
@media screen and (max-width: 1660px) {
  .owner-view {
    .owner-inner {
      .inner-data {
        .conponenst-gater {
          .list-item {
            .new-nft-card {
              width: 18.2%;
            }
            .new-nft-card:nth-child(5n) {
              margin-right: 0;
            }
            .new-nft-card:nth-child(6n) {
              margin-right: 32px;
            }
            .nft-box {
              height: 200px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1550px) {
  .owner-view {
    .owner-inner {
      .inner-data {
        .conponenst-gater {
          .list-item {
            .new-nft-card {
              width: 18%;
            }
            .new-nft-card:nth-child(5n) {
              margin-right: 0;
            }
            .new-nft-card:nth-child(6n) {
              margin-right: 32px;
            }
            .nft-box {
              height: 200px;
            }
          }
        }
      }
    }
  }
}
.competition-list {
  padding-top: 40px;
  .loading-box {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    height: 400px;
    overflow: auto;
    li {
      width: 100%;
      margin-bottom: 32px;
      position: relative;
      display: inline-flex;
      .poster-box {
        width: 282px;
        min-width: 282px;
        height: 164px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #eee;
        img {
          height: 100%;
        }
      }
      .right-oper {
        margin-left: 24px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .msg-top-box {
          position: relative;
          .show-more {
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 100%;
            height: 60px;
            background: linear-gradient(rgba(255, 255, 255, 0.5), white);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            transition: 0.3s all;
            .btn-i {
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 12px;
              padding-bottom: 8px;
              cursor: pointer;
              p {
                color: #ff33aaae;
              }
              span {
                color: #ff33aaae;
                transition: 0.3s all;
              }
            }
          }
        }
        .show-desc {
          margin-bottom: 12px;
          .com-remark {
            height: auto;
          }
          .show-more {
            background: rgba(0, 0, 0, 0);
            bottom: -28px;
            .btn-i {
              span {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .com-title {
        font-size: 18px;
        font-family: SparkTitleNew;
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .com-remark {
        font-size: 14px;
        color: #686a6c;
        height: 90px;
        overflow: hidden;
        transition: 0.3s all;
      }
      .com-msg {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: flex;
        align-items: center;
        .left-i {
          display: flex;
          align-items: center;
        }
        button {
          width: 168px;
          height: 38px;
          border-radius: 12px;
          border: 0;
          font-size: 16px;
          background: linear-gradient(90deg,
              #f23176 0%,
              #6a40fb 100%) !important;
        }
        .end-date {
          padding: 6px 10px;
          border-radius: 8px;
          background-color: #efefef;
          align-items: center;
          justify-content: space-between;
          display: flex;
          align-items: center;
          .point-box {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: rgba(255, 51, 170, 0.2);
            padding: 4px;
            .point-inner {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: #ff33aa;
            }
          }
          p {
            font-size: 14px;
            color: #202025;
            margin-left: 8px;
          }
        }
        .hot-num {
          font-size: 14px;
          color: #202025;
          margin-left: 24px;
        }
      }
    }
    .no-data {
      padding-top: 100px;
      p {
        text-align: center;
        width: 100%;
        font-size: 14px;
        font-family: SparkSemiBold;
        color: #686a6c;
      }
    }
    .selected-contest {
      .select-box {
        background-color: #df0885;
        span {
          color: white;
        }
      }
    }
  }
  .submit-btn {
    text-align: center;
    margin-top: 24px;
    button {
      width: 120px;
      height: 40px;
      font-size: 16px;
      border-radius: 32px;
      margin-right: 24px;
    }
    button:last-child {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 1280px) {
  .condition-list {
    margin-top: 0;
    ul {
      li {
        padding: .6rem .8rem;
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
  .owner-view {
    width: 100%;
    padding: 0;
    padding-top: 6rem;
    .owner-bg {
      height: 12.8rem;
      transform: translateY(0);
    }
    .owner-inner {
      width: 100%;
      margin-top: 0;
      padding: 0;
      .owner-card {
        margin-right: 0;
        width: 100%;
        padding: 0 2rem;
        transform: translateY(0);
        height: auto;
        border-radius: 0.8rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .account-msg {
          display: flex;
          flex-direction: row;
          .address-msg-2 {
            display: none;
          }
          .new-card-msg-2 {
            margin-top: 3rem;
            width: auto;
            .set-box {
              display: none;
            }
            .address-msg {
              flex-direction: column;
              align-items: flex-start;
              .user-address-2 {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 1.4rem;
                color: #686a6c;
                margin-top: 0.8rem;
                span {
                  color: #df0885;
                  margin-left: 0.8rem;
                }
              }
              .set-box-2 {
                padding: 0.4rem 1.2rem;
                margin-top: 1rem;
                border-radius: 0.6rem;
                background-color: #f0f0f0;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                  color: #686a6c;
                  font-size: 1.4rem;
                }
              }
              .user-name {
                font-size: 2rem;
              }
              .play-audio {
                height: 2.4rem;
                width: 13rem;
                margin-left: 0;
                margin-top: 1.4rem;
                .play-btn {
                  height: 2.4rem;
                  width: 2.4rem;
                }
                img {
                  height: 2.2rem;
                }
              }
              .otside-url {
                margin-top: 1.2rem;
                margin-left: 0;
                span {
                  font-size: 2rem;
                  margin-right: 1.6rem;
                }
              }
            }
          }
          .avatar-box {
            height: 18.4rem;
            width: 18.4rem;
            transform: translateY(-2rem);
            border-radius: 0.8rem;
          }
          .address-msg {
            transform: translateY(-2rem);
            text-align: left;
            margin-left: 1.2rem;
            .name-address {
              .name {
                margin-top: 0;
                font-size: 1.6rem;
              }
              .copy-address {
                font-size: 1.2rem;
              }
            }
            .audio-box {
              margin-top: 1.2rem;
              margin-left: 0;
              width: 16rem;
              height: 2.4rem;
              .audio-progress {
                width: 10rem;
                height: 2rem;
              }
              .play-btn {
                width: 2rem;
                height: 2rem;
              }
            }
            .set-box-mobile {
              display: block;
              margin-top: 1.2rem;
              button {
                width: 8rem;
                height: 2.4rem;
                padding: 0;
                font-size: 1.2rem;
                border-radius: 1.6rem;
              }
            }
          }
          .ourside-account {
            margin-top: 0;
            padding-bottom: 2.4rem;
            display: flex;
            width: 100%;
            justify-content: space-between;
            .outside-url-mobile {
              display: flex;
              align-items: center;
              span {
                margin-right: 0.6rem;
              }
              p {
                font-size: 1.4rem;
                color: #777e90;
              }
            }
          }
        }
      }
      .inner-data {
        transform: translateY(0);
        margin-top: 2rem;
        padding: 0 2rem;
        .set-btn {
          display: none;
        }
        .filter-box {
          margin-top: 0;
          flex-direction: column;
          align-items: flex-start;
          padding-bottom: 1.6rem;
          .tabs {
            padding: 2px 4px;
            width: 100%;
            justify-content: space-between;
            ul {
              li {
                width: 7rem;
                height: 3rem;
                font-size: 1.4rem;
                line-height: 3rem;
              }
            }
            .balance-box {
              margin-left: 2.4rem;
              padding: .6rem 2rem;
              flex-direction: column;
              p {
                font-size: 1.4rem;
                img {
                  width: 1.6rem;
                }
                span {
                  font-size: 1.4rem;
                }
              }
              .balance-by-u {
                width: 100%;
                text-align: right;
              }
            }
          }
          .other-filter {
            margin-top: 1.6rem;
            height: 3.6rem;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .mobile-filter-btn {
              width: 3rem;
              height: 3rem;
              border-radius: .6rem;
              background-color: #eee;
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                color: #202025;
                font-size: 1.4rem;
              }
            }
            .select-chain-asset {
              height: 100%;
              width: 18rem;
              p {
                font-size: 1.4rem;
              }
              span {
                font-size: 1.2rem;
              }
            }
          }
          .search-box {
            flex: 1;
            margin-left: 1.2rem;
            input {
              width: 100%;
              height: 3.2rem;
              border-color: #ddd;
              font-size: 1.4rem;
              color: black;
            }
          }
        }
        .conponenst-gater {
          .list-item {
            .wallet-assets-filter {
              display: none;
            }
            .new-nft-card {
              width: calc(50% - 1rem) !important;
              margin-right: 2rem;
              .nft-box {
                height: 15.8rem;
                .submit-btn {
                  left: 0.8rem;
                  top: 0.8rem;
                  height: 2.4rem;
                  width: 4.6rem;
                  span {
                    font-size: 1.4rem;
                  }
                }
                .sell-btn {
                  top: 0.8rem;
                  right: 0.8rem;
                  font-size: 12px;
                  padding: 2px 6px;
                  height: auto;
                  width: auto;
                }
                .up-top {
                  font-size: 1.2rem;
                  top: 0.8rem;
                  right: 0.8rem;
                  width: auto;
                  padding: 2px 6px;
                  height: auto;
                }
              }
              .coll-name {
                margin-top: 1.2rem;
                padding: 0 1.2rem;
                font-size: 1.6rem;
              }
              .nft-msg {
                padding: 0 1.2rem;
                flex-wrap: wrap;
                font-size: 1.2rem;
                .nft-price {
                  width: 100%;
                  text-align: right;
                  margin-top: 0.8rem;
                }
              }
            }
            .new-nft-card:nth-child(5n) {
              margin-right: 2rem;
            }
            .new-nft-card:nth-child(2n) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .competition-list {
    ul {
      li {
        .poster-box {
          width: 14rem;
          height: 8.2rem;
        }
        .right-oper {
          .com-title {
            font-size: 1.6rem;
          }
          .com-remark {
            font-size: 1.2rem;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
          }
          .com-msg {
            flex-direction: column;
            align-items: flex-start;
            .left-i {
              width: 100%;
              justify-content: space-between;
              align-items: center;
              .end-date {
                padding: 3px 7px;
                p {
                  font-size: 1.2rem;
                }
              }
              .hot-num {
                font-size: 1.2rem;
              }
            }
            button {
              margin-top: 1.2rem;
              width: 10rem;
              height: 2.4rem;
              border-radius: 0.6rem;
              padding: 0;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
.ant-popover-placement-topLeft {
  .ant-popover-content {
    .ant-popover-inner {
      padding: 0;
      .more-options {
        ul {
          li {
            display: flex;
            align-items: center;
            padding: 16px 20px;
            cursor: pointer;
            transition: 0.3s all;
            border-radius: 14px;
            p {
              font-family: SparkSemiBold;
              font-size: 14px;
              color: #202025;
            }
            img {
              margin-right: 8px;
            }
            span {
              color: #202025;
              margin-right: 12px;
            }
          }
          li:hover {
            background-color: #f0f0f0;
          }
          .dis-btn:hover {
            background-color: white;
          }
          .dis-btn {
            cursor: no-drop;
            p {
              color: #686a6c;
            }
          }
        }
      }
    }
  }
}
.hackathon-assets-card {
  display: flex;
  .left-tab {
    width: 302px;
    min-width: 302px;
    border-right: 1px solid #E8E8E8;
    transition: .3s all;
    overflow: hidden;
    .control-show {
      width: 48px;
      height: 48px;
      background-color: #f6f6f6;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      span {
        color: #202025;
        font-size: 20px;
        transition: .3s all;
      }
    }
    ul {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      transition: .3s all;
      min-width: 300px;
      li {
        padding: 0 16px;
        text-align: center;
        background-color: #F0F0F0;
        border-radius: 12px;
        margin-bottom: 16px;
        margin-right: 12px;
        cursor: pointer;
        transition: .3s all;
        p {
          line-height: 42px;
          color: #202025;
          font-size: 16px;
          font-family: SparkSemiBold;
          transition: .3s all;
          white-space: nowrap;
        }
      }
      .active-tab {
        background-color: #202025;
        p {
          color: white;
        }
      }
      li:nth-child(3) {
        margin-right: 160px;
      }
    }
  }
  @media screen and (max-width:1440px) {
    .left-tab {
      width: 180px;
      min-width: 180px;
      ul {
        min-width: 180px;
      }
    }
  }
  .hide-tabs {
    width: 60px;
    min-width: 60px;
    .control-show {
      span {
        transform: scaleX(-1);
      }
    }
    ul {
      opacity: 0;
    }
  }
  .right-table {
    flex: 1;
    background-color: #FAFAFA;
    padding: 20px 32px;
    .public-table {
      width: 100%;
      .public-title {
        padding: 16px 20px;
        background-color: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        p {
          color: #000;
          font-family: SparkBold;
          font-size: 14px;
          text-align: left;
          line-height: 22px;
        }
        .c-p {
          text-align: center;
        }
      }
      .public-table {
        .public-inner {
          width: 100%;
          padding: 28px 20px;
          background-color: white;
          border-radius: 12px;
          margin-top: 12px;
          display: flex;
          align-items: center;
          .public-p {
            font-size: 16px;
            color: #000;
            text-align: left;
          }
          .b-text {
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 32px;
            line-height: 20px;
            color: #202025;
            text-align: left;
            font-size: 16px;
          }
          .c-p {
            text-align: center;
          }
          .p-icon {
            display: flex;
            align-items: center;
            img {
              width: 24px;
              height: 24px;
              margin-right: 4px;
            }
            p {
              font-size: 16px;
              color: #000;
            }
          }
          .click {
            text-decoration: underline;
            cursor: pointer;
            color: #FA43A8;
          }
        }
      }
    }
    .history-table,
    .entry-table {
      .public-title {
        p {
          width: 17%;
        }
        p:first-child {
          width: 2%;
        }
        p:nth-child(2) {
          width: 30%;
        }
      }
      .public-table {
        .public-inner {
          div {
            width: 17%;
          }
          .nft-msg {
            display: flex;
            align-items: center;
            img {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              margin-right: 12px;
            }
            p {
              font-size: 16px;
              color: #000;
              font-weight: 600;
            }
          }
          div:first-child {
            width: 2%;
            p {
              font-weight: 600;
            }
          }
          div:nth-child(2) {
            width: 30%;
          }
        }
      }
    }
    .hackathon-table {
      .public-title {
        p {
          width: 12%;
        }
        p:first-child {
          width: 2%;
        }
        p:nth-child(2) {
          width: 15%;
        }
        p:nth-child(3) {
          width: 7%;
        }
        p:last-child {
          width: 14%;
        }
      }
      .public-table {
        .public-inner {
          div {
            width: 12%;
          }
          .l-3 {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            padding-right: 48px;
          }
          .f-14 {
            font-size: 14px;
            color: #202025;
          }
          .symbol {
            text-align: left;
            img {
              width: 20px;
              height: 20px;
            }
          }
          .y-c {
            color: #FC8620;
          }
          .g-c {
            color: #047B1F;
          }
          .time-line {
            display: flex;
            align-items: center;
            .g-box {
              width: 50%;
              height: 6px;
              background-color: rgba(197, 197, 197, .7);
              border-radius: 4px;
              overflow: hidden;
              .box-i {
                width: 50%;
                height: 100%;
                background-color: rgba(25, 206, 67, 0.94);
                transition: .3s all;
              }
            }
            p {
              font-size: 14px;
              color: #202025;
              margin-left: 14px;
            }
          }
          div:first-child {
            width: 2%;
          }
          div:nth-child(2) {
            width: 15%;
          }
          div:nth-child(3) {
            width: 7%;
          }
          div:last-child {
            width: 14%;
          }
        }
      }
    }
    .bonus-table {
      width: 100%;
      .public-title {
        width: 100%;
        p {
          width: 22%;
        }
        p:first-child {
          width: 2%;
        }
        p:last-child {
          width: 12%;
        }
      }
      .public-table {
        .public-inner {
          width: 100%;
          div {
            width: 22%;
          }
          .o-p {
            p {
              width: 100%;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              font-weight: 600;
              line-height: 20px;
              padding-right: 64px;
            }
          }
          .r-c {
            color: #FA3370;
          }
          .g-c {
            color: #047B1F;
          }
          .flex-b {
            display: flex;
            align-items: center;
          }
          button {
            width: 120px;
            height: 40px;
            background-color: white !important;
            border-color: #FA43A8;
            border-radius: 16px;
            color: #FA43A8;
            font-size: 16px;
            box-shadow: none;
            font-weight: 600;
          }
          .add-btn {
            border-color: #B7A2FF;
            color: #6A40FB;
            background-color: #EBDFFA !important;
            width: auto;
            height: 36px;
          }
          .check-btn {
            border-color: #74F792;
            color: #047B1F;
            background-color: #D9FFE2 !important;
            width: 94px;
            height: 36px;
            margin-left: 12px;
          }
          .dis-btn {
            background-color: #F0F0F0 !important;
            border: 0;
            color: #686A6C;
          }
          div:first-child {
            width: 2%;
          }
          div:last-child {
            width: 12%;
          }
        }
      }
    }
    .record-table {
      width: 100%;
      .public-title {
        width: 100%;
        p {
          width: 24%;
        }
        p:first-child {
          width: 2%;
        }
      }
      .public-table {
        .public-inner {
          div {
            width: 24%;
          }
          .p-c {
            color: #FA3370;
          }
          div:first-child {
            width: 2%;
          }
        }
      }
    }
  }
}
.loading-box {
  padding-top: 100px;
  padding-bottom: 100px;
}
.no-more {
  font-size: 14px;
  margin-top: 70px;
  color: #686a6c;
}
.custom-modal-check {
  text-align: center;
  padding: 32px;
  .icon-box {
    width: 54px;
    height: 54px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .name {
    font-size: 16px;
    font-family: SparkTitleNew;
    color: #FA43A8;
    text-align: left;
    margin-top: 12px;
  }
  .amount {
    width: 100%;
    height: 46px;
    text-align: center;
    background-color: #FDF0F7;
    margin-top: 16px;
    line-height: 46px;
    font-size: 14px;
    span{
      font-weight: bold;
      font-size: 16px;
      color: #FA43A8;
      margin-left: 6px;
    }
  }
}