.owner-view {
  padding-top: 100px;
  .owner-bg {
    width: 100%;
    height: 480px;
    transform: translateY(-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      width: 100%;
    }
    .max-height{
      height: 100%;
    }
    .loading-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .owner-inner {
    display: inline-flex;
    width: 1400px;
    margin: 0 auto;
    margin-top: -100px;
    .owner-card {
      min-width: 308px;
      width: 308px;
      padding: 40px;
      background-color: #23262f;
      transform: translateY(-80px);
      border-radius: 24px;
      margin-right: 48px;
      height: 650px;
      .account-msg {
        .avatar-box {
          height: 220px;
          width: 100%;
          border-radius: 24px;
          border: 4px solid white;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
          }
          .loading-avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            justify-content: center;
          }
        }
        .name-address {
          .name {
            font-size: 24px;
            margin-top: 32px;
            font-weight: 600;
          }
          .copy-address {
            margin-top: 8px;
            font-size: 14px;
            span {
              color: #df0885;
              cursor: pointer;
              margin-left: 4px;
            }
          }
        }
        .audio-box {
          margin-top: 48px;
          width: 100%;
          height: 34px;
          display: flex;
          justify-content: space-between;
          background-color: #353945;
          border-radius: 20px;
          align-items: center;
          padding: 4px;
          .play-btn {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span {
              font-size: 18px;
            }
            audio {
              display: none;
            }
            background: linear-gradient(180deg, #fa3370 0%, #fa89cb 100%);
          }
          .audio-progress {
            width: 140px;
            height: 30px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .audio-end {
            margin-right: 4px;
            font-size: 15px;
            color: rgba(244, 245, 246, 0.5);
          }
        }
        .outside-url {
          margin-top: 48px;
          padding-bottom: 48px;
          border-bottom: 1px solid #353945;
          display: flex;
          align-items: center;
          justify-content: center;
          .with-hand {
            cursor: pointer;
          }
          span {
            font-size: 20px;
            color: #777e90;
            margin-right: 8px;
          }
        }
        .ourside-account {
          margin-top: 48px;
          display: flex;
          justify-content: center;
          span {
            color: #777e90;
            font-size: 20px;
            cursor: pointer;
            margin-right: 20px;
          }
          span:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .inner-data {
      flex: 1;
      position: relative;
      .set-btn {
        position: absolute;
        width: 112px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        color: white;
        cursor: pointer;
        right: 0;
        top: -58px;
        span {
          font-size: 16px;
          margin-right: 4px;
        }
        border: 2px solid rgba(255, 255, 255, 0.4);
      }
    }
  }
  .data-tabs {
    background-color: #141416;
    padding-top: 30px;
    padding-bottom: 30px;
    ul {
      display: flex;
      justify-content: center;
      li {
        margin-right: 30px;
        color: white;
        cursor: pointer;
        transition: 0.3s all;
        padding: 8px 16px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
      }
      .active-top {
        background-color: #df0885;
      }
    }
  }
  .filter-box {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 64px;
    align-items: center;
    margin-bottom: 20px;
    .tabs {
      background-color: #23262f;
      border-radius: 22px;
      ul {
        display: flex;
        li {
          color: white;
          font-size: 16px;
          width: 100px;
          height: 36px;
          cursor: pointer;
          border-radius: 100px;
          transition: 0.3s all;
          font-weight: 500;
          line-height: 36px;
        }
        .active-top {
          background-color: white;
          color: #141416;
        }
      }
    }
    .search-box {
      input {
        height: 40px;
        width: 260px;
        padding-left: 12px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #333;
        border-radius: 20px;
        color: white;
        font-size: 16px;
      }
    }
  }
}
.conponenst-gater {
  padding-bottom: 20px;
  .list-item {
    .market-card {
      width: calc(25% - 19px);
      margin-right: 24px;
    }
    .market-card:nth-child(4n) {
      margin-right: 0;
    }
    .market-card:nth-child(5n) {
      margin-right: 22px;
    }
    .market-card:hover {
      transform: translateY(-5px);
    }
  }
}
.has-no-more {
  font-size: 16px;
  color: #ccc;
}
.load-more {
  button {
    border-radius: 20px;
  }
}

.tab-list {
  max-width: 1733px;
  padding-bottom: 80px;

  .list-content {
    ul {
      display: flex;
      li {
        color: white;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: #999;
      }
      li:first-child {
        width: 15%;
      }
      li:nth-child(2) {
        width: 30%;
      }
      li:nth-child(3) {
        width: 10%;
        text-align: right;
        padding-right: 30px;
      }
      li:nth-child(4),
      li:nth-child(5) {
        width: 15%;
      }
      li:last-child {
        width: 15%;
        text-align: right;
      }
    }
    .content-title {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .content-data {
      ul {
        margin-bottom: 32px;
        cursor: pointer;
        li {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          color: white;
          p {
            font-size: 16px;
          }
          .color-g {
            color: #999;
          }
          .with-img {
            display: flex;
            align-items: center;
            img {
              width: 60px;
              margin-right: 20px;
              border-radius: 4px;
            }
            .name-msg {
              p:first-child {
                margin-bottom: 6px;
              }
            }
          }
        }
        li:first-child {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          p:first-child {
            margin-bottom: 6px;
          }
        }
        li:nth-child(3) {
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          p:first-child {
            margin-bottom: 6px;
          }
        }
        li:last-child {
          justify-content: flex-end;
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .owner-view {
    width: 100%;
    padding: 0;
    .owner-inner{
      width: 90%;
      flex-direction: column;
      .owner-card{
        margin-right: 0;
        width: 100%;
        padding: 24px;
        height: auto;
        .account-msg{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          .avatar-box{
            height: 100px;
            width: 100px;
          }
          .address-msg{
            .audio-box{
              margin-top: 12px;
              width: 160px;
              height: 24px;
              .audio-progress{
                width: 100px;
                height: 20px;
              }
            }
          }
          .outside-url{
            border: 0;
            padding: 0;
          }
        }
      }
      .inner-data{
        transform: translateY(-40px);
        .set-btn{
          display: none;
        }
        .filter-box{
          margin-top: 0;
          flex-direction: column;
          align-items: flex-start;
          .tabs{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
