.screen-view {
  width: 100%;
  height: 100%;
  .swiper-index {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .swiper-pagination-bullets {
      right: 40px;
      top: 70vh;
    }
    .swiper-pagination-bullet {
      width: auto;
      height: auto;
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0);
      opacity: 1;
      border-radius: 0;
      margin-bottom: 20px !important;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      text-align: right;
      display: flex !important;
      align-items: center;
      justify-content: flex-end;
      transition: 0.3s all;
      .active-line {
        display: inline-block;
        height: 2px;
        border-radius: 4px;
        background-image: linear-gradient(to right, #12d6df, #f70fff);
        margin-right: 12px;
        transition: 0.3s all;
        width: 0;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: linear-gradient(to right, #0d8a91, #12d6df, #f70fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      .active-line {
        width: 26px;
      }
    }
  }
  .public-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #333;
    position: relative;
    .public-title {
      color: white;
      font-size: 60px;
      font-weight: bold;
      font-family: Spark;
    }
  }
  .screen-index {
    background-color: #000;
    background-image: url("../../assets/images/screen_bg_1.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
    button {
      width: 240px;
      height: 54px;
      border-radius: 34px;
      background: linear-gradient(90deg, #fa3370 0%, #ac22b1 49%, #6641ff 100%);
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-top: 120px;
      position: relative;
      z-index: 200;
      letter-spacing: 3px;
    }
    .public-title {
      position: relative;
      z-index: 200;
      background: linear-gradient(
        to right,
        #ffffff 30%,
        #9d92ff 50%,
        #ff307c 80%
      );
      -webkit-background-clip: text;
      color: transparent;
      font-size: 144px;
      width: 100%;
      text-align: center;
      padding-left: 40px;
    }
    .screen-remark {
      font-size: 24px;
      margin-top: 24px;
      color: rgba(255, 255, 255, 0.8);
    }
    .airdrop-banners {
      position: relative;
      transform: translateY(100px);
      z-index: 200;
      ul {
        display: flex;
        li {
          width: 200px;
          height: 100px;
          background-color: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(5px);
          border-radius: 8px;
          margin-right: 16px;
          overflow: hidden;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
          }
        }
        li:last-child {
          margin-right: 0;
        }
      }
    }
    canvas {
      display: block;
    }
    .waves {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../assets/images/star_bg.png");
      background-size: 100% 100%;
    }
  }
  .build-index {
    flex-direction: column;
    background-image: url("../../assets/images/screen_2_bg.png");
    background-size: 100% 100%;
    background-color: #05010c;
    .public-title {
      font-size: 48px;
    }
    .build-list {
      margin-top: 62px;
      display: flex;
      li {
        width: 380px;
        height: 422px;
        border-radius: 20px;
        backdrop-filter: blur(3px);
        padding: 0 48px;
        padding-top: 170px;
        color: white;
        text-align: left;
        position: relative;
        overflow: hidden;
        background-color: #23262f;
        .bg-box {
          width: 100%;
          height: 240px;
          position: absolute;
          top: 0;
          left: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p:first-child {
          font-size: 32px;
          font-family: Spark;
        }
        p:last-child {
          font-size: 20px;
          margin-top: 16px;
          line-height: 28px;
          font-weight: 400;
        }
      }
      li:nth-child(2) {
        margin: 0 30px;
      }
    }
  }
  .vision-map {
    flex-direction: column;
    padding: 0 134px;
    padding-top: 150px;
    background-image: url("../../assets/images/screen_3_bg.png");
    background-size: 100% 100%;
    background-color: #000;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    .map-inner {
      z-index: 100;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .text-bg {
      position: absolute;
      height: 552px;
      top: 270px;
      img {
        height: 100%;
      }
    }
    .list-inner {
      display: flex;
    }
    .title-msg {
      .title-box {
        .public-title {
          font-size: 48px;
          font-weight: 400;
          text-align: right;
        }
        p:last-child {
          margin-top: 8px;
        }
      }
      .img-box {
        margin-top: 48px;
        img {
          height: 480px;
        }
      }
    }
    .voice-list {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
      li {
        width: 380px;
        background-color: #23262f;
        border-radius: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        text-align: left;
        .img-box {
          width: 64px;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          margin-bottom: 32px;
          span {
            font-size: 36px;
          }
        }
        .text-box {
          p {
            text-align: left;
            width: 100%;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.8);
            line-height: 24px;
          }
        }
      }
    }
    .need-top-8 {
      padding-top: 80px;
    }
  }
  .voice-nft-wapper {
    background-image: url("../../assets/images/screen_4_bg.png");
    background-size: 100% 100%;
    background-color: #000;
    flex-direction: column;
    padding-top: 220px;
    position: relative;
    .swiper-page {
      position: absolute;
      top: 260px;
      right: 200px;
      span {
        font-size: 54px;
        margin-right: 34px;
        cursor: pointer;
      }
      .disabled-btn {
        opacity: 0.5;
        cursor: no-drop;
      }
    }
    .public-title {
      width: 100%;
      font-size: 48px;
      text-align: left;
      padding-left: 200px;
    }
    .swiper-4 {
      padding: 0 200px;
      width: 100%;
      height: 100%;
      margin-top: 80px;
      padding-top: 40px;
      position: relative;
      .mask-public {
        position: absolute;
        width: 200px;
        height: 320px;
        top: 40px;
        z-index: 1;
        border-radius: 16px;
      }
      .left-mask {
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
        left: -20px;
      }
      .right-mask {
        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.5)
        );
        right: -80px;
      }
      .swiper-slide {
        height: 320px;
        color: white;
        transition: 0.3s all;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        .bg-img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .inner-msg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(20px);
          padding-top: 40px;
          .avatar-box {
            width: 160px;
            height: 160px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            margin: 0 auto;
            padding: 20px;
            transition: 0.3s all;
            position: relative;
            .ab {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              display: none;
            }
            .circle_left {
              border: 5px solid rgba(117, 118, 130, 1);
              border-radius: 50%;
              clip: rect(0, 109px, 218px, 0);
            }

            .circle_right {
              border: 5px solid rgba(117, 118, 130, 1);
              border-radius: 50%;
              clip: rect(0, 218px, 218px, 109px);
            }
            .avatar-inner {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              overflow: hidden;
              cursor: pointer;
              position: relative;
              .play-mask {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.3s all;
                opacity: 0;
              }
              .play-mask:hover {
                opacity: 1;
              }
              span {
                font-size: 60px;
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                color: white;
                margin-left: -30px;
                margin-top: -30px;
              }
              img {
                width: 100%;
              }
              .play-img {
                animation: 10s play linear infinite normal;
              }
              @keyframes play {
                0% {
                  transform: rotate(0);
                }
                100% {
                  transform: rotate(360deg);
                }
              }
            }
          }
          p {
            margin-top: 16px;
            font-size: 20px;
            font-weight: bold;
          }
          p:last-child {
            font-weight: 400;
            font-size: 18px;
          }
        }
      }
      .swiper-slide-active {
        width: 320px !important;
        height: 400px !important;
        transform: translateY(-40px);
        .inner-msg {
          .avatar-box {
            width: 218px;
            height: 218px;
            // box-shadow: inset 0 0 0 5px #fa3370;
            .ab {
              display: block;
              // transition: 1s all;
            }
            .play-mask {
              opacity: 1 !important;
              background-color: rgba(0, 0, 0, 0) !important;
            }
          }
          p {
            font-size: 24px;
          }
          p:last-child {
            font-size: 20px;
          }
        }
      }
    }
  }
  .voice-pool {
    flex-direction: column;
    padding-top: 200px;
    background-image: url("../../assets/images/screen_5_bg.png");
    background-color: #000;
    background-size: 100% 100%;
    justify-content: flex-start;
    position: relative;
    .pool-inner {
      z-index: 100;
    }
    .text-bg {
      position: absolute;
      height: 552px;
      top: 150px;
      img {
        height: 100%;
      }
    }
    .public-title {
      font-size: 48px;
    }
    .more-top {
      margin-top: 80px;
    }
    .pool-text {
      width: 740px;
      text-align: left;
      font-size: 20px;
      color: rgba(255, 255, 255, 0.8);
      line-height: 26px;
    }
    .need-top {
      margin-top: 30px;
    }
  }
  .fixed-tab-index {
    position: fixed;
    right: 40px;
    top: 60vh;
    text-align: right;
    z-index: 2200;
    ul {
      li {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: 0.3s all;
        color: blue;
        .active-line {
          height: 2px;
          border-radius: 2px;
          background-color: red;
          margin-right: 12px;
          transition: 0.3s all;
          width: 0;
        }
      }
      .active-tab {
        color: red;
        .active-line {
          width: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .screen-view {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          width: 100vw;
          overflow: hidden;
          .public-screen {
            .footer-wapper {
              display: none;
            }
            .public-title {
              font-size: 24px;
              text-align: center;
            }
          }
          .screen-index {
            padding-bottom: 0;
            width: 150%;
            padding-right: 50%;
            .public-title {
              font-size: 48px;
              // transform: translateX(20px);
            }
            .screen-remark {
              font-size: 16px;
              padding-left: 8px;
            }
            .airdrop-banners {
              li {
                margin-right: 0;
              }
              li:nth-child(2) {
                display: none;
              }
              li:last-child {
                display: none;
              }
            }
            button {
              width: 100px;
              height: 34px;
              font-size: 14px;
            }
          }
          .build-index {
            background-size: 200% 100%;
            .build-list {
              flex-direction: column;
              margin-top: 24px;
              li {
                padding: 0;
                width: 90%;
                height: auto;
                margin: 0 auto;
                margin-top: 30px;
                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: none;
                padding: 24px;
                padding-top: 80px;
                p:first-child {
                  font-size: 24px;
                }
                p:last-child {
                  margin-top: 12px;
                  font-size: 12px;
                  line-height: 14px;
                }
              }
            }
          }
          .vision-map {
            padding: 0;
            background-size: 200% 100%;
            .title-msg {
              display: none;
            }
            .list-inner {
              flex-direction: column;
            }
            .need-top-8 {
              padding-top: 0;
              margin-top: 0 !important;
            }
            .voice-list {
              flex-direction: column;
              width: 90%;
              margin: 0 auto;
              margin-top: 40px;
              li {
                width: 100%;
                height: auto;
                padding: 16px;
                margin-bottom: 16px;
                backdrop-filter: none;
                .img-box {
                  width: 64px;
                  height: 64px;
                  border-radius: 8px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                .text-box {
                  p {
                    width: 100%;
                  }
                  p:first-child {
                    font-size: 16px;
                  }
                  p:last-child {
                    font-size: 12px;
                    line-height: 14px;
                  }
                }
              }
            }
          }
          .voice-pool {
            padding-top: 100px;
            background-size: 200% 100%;
            .pool-text {
              text-align: center;
              margin: 0 auto;
              width: 90%;
            }
            .more-top {
              margin-top: 60px;
            }
            .need-top {
              margin-top: 24px;
            }
          }
        }
      }
      .swiper-pagination {
        display: none;
      }
    }
  }
}
