.hackthon-view {
    padding-top: 160px;
    .mask-box {
        position: fixed;
        z-index: 100;
        display: none;
        img {
            width: 1412px;
            height: 1358px;
            position: fixed;
        }
        .left-mask {
            top: -658px;
            left: -632px;
        }
        .right-mask {
            bottom: -300px;
            right: -922px;
        }
    }
    .hackthon-inner {
        width: 1360px;
        margin: 0 auto;
        .n-t {
            margin-top: 36px;
        }
        .load-box {
            min-height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .view-title {
            font-size: 48px;
            color: #202025;
            font-family: SparkTitleNew;
            padding-bottom: 16px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
        .data-list {
            min-height: 300px;
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .card-lan {
                width: calc(50% - 20px);
                border-radius: 16px;
                overflow: hidden;
                box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
                margin-bottom: 40px;
                cursor: pointer;
                .poster-box {
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 280px;
                    position: relative;
                    img {
                        width: 100%;
                        display: inline-block;
                        transition: .3s all;
                        position: relative;
                        z-index: 200;
                    }
                    .load-box{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 100;
                    }
                }
                .msg-box {
                    padding: 20px 24px 14px 24px;
                    .adv-remark {
                        width: 80%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 20px;
                        color: #000;
                        white-space: nowrap;
                        font-family: SparkSemiBold;
                        margin-bottom: 12px;
                        line-height: 28px;
                        text-align: left;
                    }
                    .total-msg {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .end-point {
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .point-box {
                                width: 16px;
                                height: 16px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                background-color: rgba(255, 51, 170, .2);
                                margin-right: 6px;
                                .point-inner {
                                    width: 8px;
                                    height: 8px;
                                    background-color: #FF33AA;
                                    border-radius: 50%;
                                }
                            }
                            p {
                                font-size: 14px;
                                color: #202025;
                            }
                        }
                        .total-num {
                            img {
                                width: 20px;
                                height: 20px;
                                margin-right: 4px;
                                display: inline-block;
                                transform: translateY(4px);
                            }
                            font-size: 16px;
                            color: #686A6C;
                        }
                    }
                    .progress-box {
                        width: 100%;
                        height: 12px;
                        background-color: #F0F0F0;
                        margin-top: 8px;
                        border-radius: 8px;
                        position: relative;
                        .box-i {
                            height: 100%;
                            background-color: #FFC1E3;
                            border-radius: 8px;
                            transition: .3s all;
                        }
                        .p-num {
                            position: absolute;
                            top: -2px;
                            height: 16px;
                            padding: 0 8px;
                            border-radius: 16px;
                            line-height: 16px;
                            background-color: #FF33AA;
                            transition: .3s all;
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .card-lan:hover {
                .poster-box {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1280px){
    .launchpad-view{
        padding-top: 0;
        .launchpad-inner{
            padding-top: 10rem;
            width: 90%;
            position: relative;
            z-index: 200;
            .view-title{
                font-size: 24px;
            }
            .data-list{
                min-height: 0;
                .card-lan{
                    width: 100%;
                    .poster-box{
                        height: 14rem;
                    }
                    .msg-box{
                        padding: 1rem 1.2rem 1.6rem 1.2rem;
                        .adv-remark{
                            font-size: 1.4rem;
                        }
                        .progress-box{
                            width: 98%;
                            margin:1rem auto 0;
                        }
                    }
                }
            }
        }
    }
}