.mask-public {
    position: fixed;
    z-index: 100;
    pointer-events: none;
  }
  .mask-1 {
    width: 1400px;
    height: 684px;
    top: -140px;
    right: -200px;
  }
  .mask-2 {
    width: 1377px;
    height: 1700px;
    left: -400px;
    top: 100px;
  }
  .mask-3 {
    width: 1100px;
    right: -50%;
    bottom: -80%;
  }