.airdrop-view {
  width: 100vw;
  background-color: #141416;
  // background-image: url("../../assets/images/drop_bg.png");
  background-size: 100% 100%;
  padding-top: 160px;
  overflow: auto;
  padding-bottom: 56px;
  position: relative;
  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .drop-title {
    font-size: 100px;
    font-family: Spark;
    background: linear-gradient(
      to right,
      #ffffff 40%,
      #9d92ff 50%,
      #ff307c 60%
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  .drop-remark {
    margin-top: 32px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
  }
  .mobile-card {
    display: none;
  }
  .tabs {
    margin-top: 48px;
    .mobile-line {
      display: none;
    }
    .select-card {
      display: inline-flex;
      .select-card-li {
        width: 344px;
        height: 80px;
        text-align: center;
        border-radius: 16px;
        cursor: pointer;
        transition: 0.3s all;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        background-size: 100% 100%;
        filter: grayscale(1);
        position: relative;
        overflow: hidden;
        .ac-mask {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 0.3s all;
          background: linear-gradient(
            180deg,
            rgba(223, 8, 133, 0.9) 0%,
            rgba(0, 0, 0, 0.01) 100%
          );
        }
        p {
          font-family: Spark;
          font-size: 24px;
          z-index: 100;
        }
      }
      .select-card-li:first-child {
        background-image: url("../../assets/images/drop_tabs_1.png");
      }
      .select-card-li:nth-child(2) {
        background-image: url("../../assets/images/drop_tabs_2.png");
      }
      .select-card-li:last-child {
        background-image: url("../../assets/images/drop_tabs_3.png");
        margin-right: 0;
      }
      .select-card-li:hover {
        transform: translateY(-5px);
        filter: grayscale(0);
      }
      .active-tab {
        filter: grayscale(0);
        .ac-mask {
          opacity: 1;
        }
      }
      .active-tab:hover {
        transform: translateY(0);
      }
    }
  }
  .card-view {
    width: 1080px;
    margin: 24px auto;
    background-color: #23262f;
    border-radius: 16px;
    padding-bottom: 40px;
    overflow: hidden;
    .free-mint-card {
      width: 100%;
      .card-msg {
        width: 100%;
        height: 240px;
        background-color: #000;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: 100% 100%;
        .card-name {
          position: absolute;
          top: 48px;
          right: 80px;
          font-family: Spark;
          font-size: 32px;
          color: white;
        }
        .other-set {
          width: 200px;
          text-align: left;
          p:last-child {
            text-align: right;
            margin-top: 8px;
          }
        }
        .name-2 {
          padding-left: 80px;
          font-size: 48px;
          font-family: KanitBold;
          color: white;
          text-align: left;
          line-height: 48px;
        }
      }
      .mobile-title {
        display: none;
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 48px;
        width: calc(100% - 160px);
        margin: 0 auto;
        // border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 16px;
        li {
          width: 100%;
          text-align: left;
          margin-top: 32px;
          p:first-child {
            font-size: 24px;
            margin-bottom: 10px;
            span {
              color: #ff5c92;
            }
          }
          .rule-options {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            line-height: 24px;
          }
        }
        li:first-child {
          margin-top: 0;
        }
      }
      button {
        min-width: 240px;
        height: 54px;
        font-size: 20px;
        border-radius: 32px;
        margin-top: 48px;
        background: linear-gradient(
          90deg,
          #fa3370 0%,
          #ac22b1 49%,
          #6641ff 100%
        );
      }
    }
    .free-card {
      opacity: 0;
      transition: 1s all;
      .free-mint-card {
        .card-msg {
          filter: grayscale(1);
          transition: 1.3s all;
          background-image: url("../../assets/images/drop_card_1.png");
        }
      }
      .check-box {
        margin: 48px 80px;
        padding: 80px 220px;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        .check-progress {
          position: relative;
          display: flex;
          justify-content: space-between;
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #55555c;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #383b3d;
            z-index: 20;
            font-family: Spark;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            overflow: hidden;
            div {
              width: 100%;
              height: 100%;
              border: 2px solid rgba(0, 0, 0, 0);
              line-height: 40px;
              border-radius: 50%;
              transition: 0.3s all;
              .scroll-text {
                font-size: 12px;
                text-align: left;
                padding: 0 8px;
                animation: 5s wordsLoop linear infinite normal;
                white-space: nowrap;
                width: 110px;
                font-family: Kanit;
              }
              @keyframes wordsLoop {
                0% {
                  transform: translateX(0);
                  -webkit-transform: translateX(0);
                }
                50% {
                  transform: translateX(-62%);
                  -webkit-transform: translateX(-62%);
                }
                100% {
                  transform: translateX(0);
                  -webkit-transform: translateX(0);
                }
              }
            }
            span {
              font-size: 24px;
              transform: translateY(4px);
            }
          }
          .checked-point {
            background: linear-gradient(180deg, #fa3370 0%, #fa89cb 100%);
            border: 0;
          }
          .next-check {
            background: linear-gradient(180deg, #5c34ff 0%, #7070ff 100%);
          }
          .active-point {
            div {
              border-color: white;
            }
          }
          li:last-child {
            position: absolute;
            left: 0;
            width: 100%;
            height: 8px;
            border-radius: 8px;
            border: 0;
            background-color: rgba(255, 255, 255, 0.1);
            top: 50%;
            margin-top: -4px;
            z-index: 10;
            display: flex;
            justify-content: flex-start;
            .progress-inner {
              width: 0;
              height: 100%;
              transition: 0.3s all;
              background-color: #cc295b;
            }
            .w-1 {
              width: 20%;
            }
            .w-2 {
              width: 34%;
            }
            .w-3 {
              width: 50%;
            }
            .w-4 {
              width: 70%;
            }
            .w-5 {
              width: 80%;
            }
            .w-6 {
              width: 100%;
            }
            .w-7 {
              width: 100%;
            }
          }
        }
        .rewark-msg {
          width: 100%;
          padding: 12px 16px;
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.08);
          margin-top: 18px;
          background: rgba(255, 255, 255, 0.05);
          position: relative;
          .arrow-box {
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid rgba(255, 255, 255, 0.08);
            position: absolute;
            top: -6px;
            left: 0;
          }
          .title-msg {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            p {
              font-size: 16px;
              color: white;
            }
            p:last-child {
              font-weight: 600;
              cursor: pointer;
              color: #ff5c92;
            }
            .anticon {
              display: none;
            }
          }
          .hash-pub {
            text-align: left;
            font-size: 12px;
            margin-top: 4px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
        .rewark-msg::before {
          width: 0px;
          height: 0px;
          position: absolute;
          top: -12px;
          padding: 0;
          border: 6px solid transparent;
          border-color: transparent transparent rgba(58, 59, 68, 1) transparent;
          content: "";
          z-index: 12;
        }
        .rewark-msg::after {
          width: 0px;
          height: 0px;
          position: absolute;
          top: -16px;
          padding: 0;
          border: 8px solid transparent;
          border-color: transparent transparent rgba(73, 74, 83, 1) transparent;
          content: "";
          z-index: 10;
        }
        .left-1::before {
          left: 17px;
        }
        .left-1::after {
          left: 15px;
        }
        .left-2::before {
          left: 89px;
        }
        .left-2::after {
          left: 87px;
        }
        .left-3::before {
          left: 161px;
        }
        .left-3::after {
          left: 159px;
        }
        .left-4::before {
          right: 232px;
        }
        .left-4::after {
          right: 230px;
        }
        .left-5::before {
          right: 161px;
        }
        .left-5::after {
          right: 159px;
        }
        .left-6::before {
          right: 89px;
        }
        .left-6::after {
          right: 87px;
        }
        .left-7::before {
          right: 17px;
        }
        .left-7::after {
          right: 15px;
        }
        .btn-oper {
          margin-top: 80px;
          button {
            width: 240px;
            height: 54px;
            border: 0;
            background: linear-gradient(
              90deg,
              #fa3370 0%,
              #ac22b1 49%,
              #6641ff 100%
            );
            box-shadow: 0px 0px 20px #ac22b1;
            border-radius: 32px;
            font-size: 20px;
          }
          .count-done-btn {
            background: #ccc;
            box-shadow: none;
            color: white;
          }
        }
      }
    }
    .invite-card {
      opacity: 0;
      transition: 1s all;
      .free-mint-card {
        .card-msg {
          filter: grayscale(1);
          transition: 1.3s all;
          background-image: url("../../assets/images/drop_card_2.png");
        }
      }
      .public-bg {
        width: calc(100% - 160px);
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 50px;
        backdrop-filter: blur(12px);
        ul {
          display: flex;
          justify-content: space-between;
          li {
            width: calc(50% - 20px);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
            background: rgba(255, 255, 255, 0.05);
            text-align: center;
            padding: 24px 0;
            border-radius: 16px;
            .public-title {
              font-size: 20px;
              font-weight: 500;
              margin-bottom: 18px;
            }
            .rank-list {
              width: 240px;
              height: 8px;
              background-color: #ccc;
              border-radius: 8px;
              margin: 0 auto;
              margin-top: 24px;
              margin-bottom: 20px;
              .list-progress {
                width: 100%;
                height: 100%;
              }
              .progress-inner {
                height: 100%;
                background: linear-gradient(90deg, #fa3370 0%, #fa89cb 100%);
                border-radius: 8px;
              }
            }
            .pledge-num {
              margin-top: 34px;
              font-size: 16px;
              color: rgba(255, 255, 255, 0.6);
              span {
                color: #ff5c92;
              }
            }
            button {
              min-width: 240px;
              height: 54px;
              font-size: 20px;
              border-radius: 32px;
              margin-top: 24px;
              border-color: rgba(0, 0, 0, 0);
              border: 0;
              background: linear-gradient(
                90deg,
                #fa3370 0%,
                #ac22b1 49%,
                #6641ff 100%
              );
              box-shadow: 0px 0px 20px #ac22b1;
            }
            .disable-btn {
              button {
                color: #999;
                margin-top: 42px;
                background: #ccc;
                box-shadow: none;
              }
            }
          }
        }
        .join-title {
          text-align: center;
          font-size: 18px;
          margin-bottom: 16px;
          color: white;
        }
        .join-content {
          font-size: 16px;
          text-align: center;
          color: #ccc;
          margin-bottom: 16px;
        }
        button {
          border-radius: 20px;
        }
      }
      .step-1 {
        margin-top: 50px;
        .create-box {
          margin-bottom: 50px;
        }
        .join-box {
          background-color: rgba(255, 255, 255, 0.05);
          padding: 24px;
          text-align: center;
          .invite-code-inp {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            input {
              width: 360px;
              height: 44px;
              background: rgba(255, 255, 255, 0.05);
              padding-left: 12px;
              font-size: 16px;
              margin-left: 8px;
              color: white;
              border-radius: 8px;
            }
          }
          button {
            width: 240px;
            height: 54px;
            border-radius: 32px;
            font-size: 20px;
            background: linear-gradient(
              90deg,
              #fa3370 10%,
              #ac22b1 50%,
              #6641ff 100%
            );
          }
        }
      }
      .other-remark {
        margin: 30px auto;
        font-size: 20px;
        font-weight: 600;
      }
    }
    .activity-card {
      opacity: 0;
      transition: 1s all;
      .free-mint-card {
        .card-msg {
          filter: grayscale(1);
          transition: 1.3s all;
          background-image: url("../../assets/images/drop_card_3.png");
        }
        ul {
          border: 0;
        }
        .end-count {
          width: 100%;
          height: 68px;
          background-color: #f4f4f4;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          .point-box {
            width: 24px;
            height: 24px;
            background-color: rgba(117, 201, 121, 0.35);
            border-radius: 50%;
            padding: 5px;
            margin-right: 16px;
            .point-inner {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: #75c979;
            }
          }
          p {
            color: #a0a0a0;
            font-family: SparkTextNew;
            font-size: 20px;
          }
          p:last-child {
            font-family: SparkSemiBold;
            color: #ff33aa;
          }
        }
      }
      .activity-remark {
        border-radius: 20px;
        width: 890px;
        margin: 0 auto;
        padding: 18px;
        border: 1px solid white;
        text-align: left;
        p:first-child {
          font-size: 18px;
        }
        p:last-child,
        p:nth-child(2) {
          font-size: 16px;
          margin-top: 10px;
          line-height: 18px;
        }
      }
      .rank-list {
        width: calc(100%);
        margin: 0 auto;
        margin-top: 48px;
        .rank-3-list {
          ul {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            li {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 0;
              .rank-1-icon {
                width: 32px;
                height: 32px;
                margin-bottom: 16px;
              }
              .nfts-box {
                position: relative;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 4px solid white;
                .paper {
                  border-radius: 50% !important;
                }
                p {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  text-align: center;
                  line-height: 32px;
                  font-size: 20px;
                  color: #000;
                  position: absolute;
                  left: 50%;
                  bottom: -18px;
                  font-weight: bold;
                  margin-left: -16px;
                  background-color: white;
                }
                .img-inner {
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  border-radius: 50%;
                  img {
                    width: 100%;
                  }
                }
              }
              .address-text {
                font-size: 24px;
                color: white;
                margin-top: 30px;
              }
              .price-text {
                margin-top: 6px;
                font-size: 16px;
                color: rgba(255, 255, 255, 0.6);
              }
            }
            li:first-child {
              .nfts-box {
                border-color: #ff5c92;
                p {
                  background-color: #ff5c92;
                }
              }
            }
            li:nth-child(2) {
              .nfts-box {
                width: 160px;
                height: 160px;
                border-color: #f5eb58;
                p {
                  background-color: #f5eb58;
                }
              }
              margin: 0 56px;
            }
            li:last-child {
              .nfts-box {
                border-color: #9dcc18;
                p {
                  background-color: #9dcc18;
                }
              }
            }
          }
        }
        .list-box {
          width: 100%;
          background: rgba(255, 255, 255, 0.05);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
          padding: 30px 64px;
          margin-top: 32px;
          border-radius: 20px;
          min-width: 660px;
          ul {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 24px 0 24px 0;
              border-top: 1px solid rgba(255, 255, 255, 0.1);
              .rank-num {
                font-size: 16px;
                margin-right: 30px;
              }
              .avatar-box {
                display: flex;
                align-items: center;
                .avatar-inner {
                  width: 60px;
                  height: 60px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 16px;
                  overflow: hidden;
                  margin-right: 15px;
                  img {
                    width: 100%;
                  }
                }
              }
              .rank-name {
                font-size: 16px;
              }
              .reward-msg {
                p {
                  font-size: 16px;
                }
              }
              .sell-hash {
                color: #ff5c92;
                text-align: right;
                cursor: pointer;
                font-size: 16px;
              }
            }
          }
        }
        .list-title {
          display: flex;
          margin-bottom: 24px;
          // padding-right: 90px;
          justify-content: space-between;
          p {
            font-size: 16px;
            font-family: KanitBold;
            color: rgba(255, 255, 255, 0.6);
          }
          p:nth-child(2) {
            margin-left: 170px;
          }
        }
        .no-more {
          margin-top: 24px;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .view-0 {
    .free-card {
      opacity: 1;
      .free-mint-card {
        .card-msg {
          filter: grayscale(0);
        }
      }
    }
  }
  .view-1 {
    .invite-card {
      opacity: 1;
      .free-mint-card {
        .card-msg {
          filter: grayscale(0);
        }
      }
    }
  }
  .view-2 {
    .activity-card {
      opacity: 1;
      .free-mint-card {
        .card-msg {
          filter: grayscale(0);
        }
      }
    }
  }
  .outside-remark {
    width: 1080px;
    text-align: center;
    margin: 24px auto;
    margin-top: 60px;
    font-size: 14px;
    line-height: 18px;
    padding: 32px 80px;
    background-color: #23262f;
    border-radius: 16px;
    color: rgba(255, 255, 255, 0.6);
    a {
      color: #ff5c92;
    }
  }
}
.airdrop-view-new {
  background-color: white;
  padding-top: 80px;
  width: 100vw;
  overflow: hidden;
  padding-bottom: 0;
  .bg-box-new {
    width: 100%;
    height: 560px;
    overflow: hidden;
  }
  .pc-card {
    display: flex;
    margin-top: 80px;
    padding: 0 140px;
    .tabs {
      margin-top: 0;
      margin-right: 180px;
      ul {
        flex-direction: column;
        .select-card-li {
          width: auto;
          height: auto;
          background-image: none !important;
          justify-content: flex-start;
          margin-bottom: 24px;
          margin-right: 0;
          p {
            font-size: 48px;
            color: #202025;
            font-family: SparkTitleNew;
            font-weight: bold;
            text-align: left;
            span {
              font-size: 22px;
              display: inline-block;
              transform: translateY(-4px) translateX(4px);
            }
          }
        }
        .select-card-li:hover {
          transform: translateY(0);
        }
        .active-tab {
          p {
            background: linear-gradient(90deg, #df0885 0%, #ffbc37 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            span {
              color: #df0885;
            }
          }
          .ac-mask {
            display: none;
          }
        }
      }
    }
    .card-view {
      flex: 1;
      margin-top: 0;
      background-color: white;
      padding: 0;
      margin-bottom: 0;
      .free-mint-card {
        background-color: white;
        .card-msg {
          display: none;
        }
        .mobile-title {
          display: block;
          text-align: left;
          font-size: 80px;
          font-weight: SparkTitleNew;
          font-weight: bold;
          margin-bottom: 48px;
          color: #202025;
        }
        ul {
          margin: 0;
          width: 100%;
          border-color: #ddd;
          li {
            p {
              color: #202025;
            }
            .rule-options {
              color: #686a6c;
            }
          }
        }
      }
      .check-box {
        padding: 0;
        margin: 0;
        margin-top: 48px;
        width: 480px;
        background-color: rgba(0, 0, 0, 0);
        .check-progress {
          li {
            background-color: #ebebff;
            border-color: #ebebff;
            color: #8c8bcc;
          }
          li:last-child {
            background-color: #d6d5ff;
          }
          .active-point {
            color: white;
          }
          .next-check {
            background: linear-gradient(180deg, #5a5ac8 0%, #8c8bcc 100%);
            color: white;
          }
        }
        .rewark-msg {
          background-color: #f1f4f4;
          .title-msg {
            p {
              color: #202025;
            }
          }
          .hash-pub {
            color: #686a6c;
          }
        }
        .rewark-msg::before {
          width: 0px;
          height: 0px;
          position: absolute;
          top: -12px;
          padding: 0;
          border: 6px solid transparent;
          border-color: transparent transparent #f1f4f4 transparent;
          content: "";
          z-index: 12;
        }
        .rewark-msg::after {
          display: none;
        }
        .btn-oper {
          text-align: left;
          button {
            height: 46px;
            font-size: 16px;
            width: auto;
            padding: 0 12px;
            border-radius: 8px;
            box-shadow: none;
          }
        }
      }
      .invite-box {
        width: 100%;
        ul {
          li {
            border: 0;
            background-color: #f1f4f4;
            box-shadow: none;
            .public-title {
              color: #202025;
            }
            .pledge-num {
              color: #686a6c;
            }
            button {
              min-width: 0;
              height: 46px;
              font-size: 16px;
              border-radius: 12px;
              width: auto;
              box-shadow: none;
            }
          }
          li:first-child {
            p:nth-child(3) {
              color: #686a6c;
            }
          }
        }
      }
      .step-1 {
        .join-box {
          width: 100%;
          background-color: #f1f4f4;
          margin-top: 48px;
          .join-title {
            font-size: 24px;
            color: #202025;
          }
          .invite-code-inp {
            input {
              width: 520px;
              border: 1px solid #dddddd;
              color: #202025;
            }
          }
          button {
            width: auto;
            height: 46px;
            border-radius: 12px;
            font-size: 16px;
            border: 0;
          }
        }
      }
      .rank-list {
        .rank-3-list {
          ul {
            li {
              .address-text {
                color: #202025;
              }
              .price-text {
                color: #686a6c;
              }
            }
          }
        }
        .list-box {
          box-shadow: none;
          background-color: #f1f4f4;
          .list-title {
            p {
              color: #686a6c;
            }
          }
          ul {
            li {
              color: #686a6c;
            }
          }
        }
      }
    }
  }
  .outside-remark {
    width: 100%;
    border-radius: 0;
    padding: 20px 420px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1280px) {
  .airdrop-view {
    overflow: hidden;
    width: 100%;
    padding-top: 6rem;
    .bg-box {
      width: 100%;
      height: 37.5rem;
    }
    .bg-box-new {
      width: 100%;
      height: 37.5rem;
      img {
        width: 100%;
      }
    }
    .drop-inner {
      width: 100%;
      margin: 0 auto;
      .drop-title {
        font-size: 6rem;
      }
      .drop-remark {
        font-size: 1.6rem;
        margin-top: 1.6rem;
      }
      .pc-card {
        margin-top: 4rem;
        padding: 0;
        flex-direction: column;
        .tabs {
          margin-right: 0;
          overflow: auto;
          padding-left: 2.4rem;
          .mobile-line {
            display: block;
            width: 94%;
            height: 3px;
            background-color: #ccc;
            border-radius: 4px;
            transform: translateY(-12px);
            .line-inner {
              height: 100%;
              transition: 0.3s all;
              background: linear-gradient(90deg, #fa3370 0%, #fa89cb 100%);
            }
          }
          .select-card {
            flex-direction: row;
            display: flex;
            width: 120%;
            li {
              margin-right: 2.4rem;
              border-radius: 0;
              p {
                white-space: nowrap;
                font-size: 3.2rem;
                span {
                  display: none;
                }
              }
            }
          }
        }
        .card-view {
          width: 100%;
          padding: 0 2.4rem;
          .free-mint-card {
            .mobile-title {
              display: none;
            }
            ul {
              padding-bottom: 2.4rem;
              li {
                p:first-child {
                  font-size: 1.6rem;
                }
                .rule-options {
                  font-size: 1.2rem;
                  line-height: 1.8rem;
                }
              }
            }
          }
          .check-box {
            width: 100%;
            margin-top: 2.4rem;
            .check-progress {
              li {
                width: 3.2rem;
                height: 3.2rem;
                span {
                  font-size: 1.6rem;
                  transform: translateY(-0.6rem);
                }
                p {
                  font-size: 1.4rem;
                  transform: translateY(-0.8rem);
                }
              }
              li:last-child {
                height: 0.4rem;
                width: 100%;
                margin-top: -2px;
              }
            }
            .rewark-msg {
              .title-msg {
                p {
                  font-size: 1.2rem;
                }
              }
              .hash-pub {
                transform: scale(0.9) translateX(-2rem);
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .rewark-msg::before {
              display: none;
            }
            .btn-oper {
              margin-top: 2.4rem;
              button {
                width: 17rem;
                height: 4rem;
                font-size: 1.4rem;
              }
            }
          }
          .step-1 {
            margin-top: 2.4rem;
            .public-bg {
              margin-top: 0;
              border-radius: 0.8rem;
              .join-title {
                font-size: 1.6rem;
              }
              .invite-code-inp {
                margin-bottom: 2.4rem;
                input {
                  width: 100%;
                  height: 3.6rem;
                  font-size: 1.4rem;
                }
              }
              button {
                width: 17rem;
                height: 4rem;
                font-size: 1.4rem;
              }
            }
          }
          .step-2 {
            ul {
              flex-direction: column;
              li {
                width: 100%;
                margin-bottom: 2.4rem;
                .public-title {
                  font-size: 1.8rem;
                }
                .rank-list {
                  height: 0.6rem;
                }
                .public-btn {
                  button {
                    width: 17rem;
                    height: 4rem;
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
          .activity-card {
            .rank-list {
              margin-top: 2.4rem;
              .rank-3-list {
                ul {
                  li {
                    .nfts-box {
                      width: 6rem;
                      height: 6rem;
                      border-width: 2px;
                      p {
                        width: 2.4rem;
                        height: 2.4rem;
                        margin-left: -1.2rem;
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        bottom: -1.2rem;
                      }
                    }
                    .address-text {
                      font-size: 1.6rem;
                    }
                    .price-text {
                      font-size: 1.4rem;
                    }
                  }
                  li:nth-child(2) {
                    margin: 0 2.4rem;
                    .rank-1-icon {
                      width: 2.4rem;
                      height: 2.4rem;
                    }
                    .nfts-box {
                      width: 8rem;
                      height: 8rem;
                    }
                  }
                }
              }
              .list-box {
                padding: 1.2rem;
                border-radius: 0.8rem;
                .list-title {
                  margin-bottom: 1.2rem;
                  width: 100%;
                  padding-right: 0;
                  p {
                    font-size: 1.2rem;
                  }
                  p:nth-child(2) {
                    margin-left: 6rem;
                  }
                }
                ul {
                  li {
                    padding: 1.2rem 0;
                    .avatar-box {
                      .avatar-inner {
                        width: 3.2rem;
                        height: 3.2rem;
                        border-radius: 0.8rem;
                      }
                      .rank-name {
                        display: none;
                      }
                    }
                    p {
                      font-size: 1.2rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .outside-remark {
      width: 100%;
      padding: 1.6rem 2.4rem;
    }
  }
}
